In [1]:
import pandas as pd
import glob
import os
import pathlib
import logging
import urllib.parse as parse

In [2]:
path = "Data_BL_modified//"
all_files = glob.glob(os.path.join(path, "*.csv"))

all_df = []
for f in all_files:
    # try:
    #     df = pd.read_csv(f, sep=',')
    # except:
    #     print(f)
    #     df = pd.read_csv(f, sep=',', error_bad_lines=False, warn_bad_lines=True)
    # 19 and 20 have some wrong rows
    df = pd.read_csv(f, sep=',', on_bad_lines="skip")
    df['file'] = f.split('\\')[-1]
    all_df.append(df)
    
merged_df = pd.concat(all_df, ignore_index=True, sort=False)

In [3]:
merged_df['file']

0         bundesliga_data_modified_season_06.csv
1         bundesliga_data_modified_season_06.csv
2         bundesliga_data_modified_season_06.csv
3         bundesliga_data_modified_season_06.csv
4         bundesliga_data_modified_season_06.csv
                          ...
4891    bundesliga_data_modified_season_2021.csv
4892    bundesliga_data_modified_season_2021.csv
4893    bundesliga_data_modified_season_2021.csv
4894    bundesliga_data_modified_season_2021.csv
4895    bundesliga_data_modified_season_2021.csv
Name: file, Length: 4896, dtype: object

In [4]:
merged_df.dropna(subset=[])     # specifie necessary columns

,Unnamed: 0,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,0,D1,11/08/06,Bayern Munich,Dortmund,2,0,H,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,D1,12/08/06,Hamburg,Bielefeld,1,1,D,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,D1,12/08/06,Leverkusen,Aachen,3,0,H,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,D1,12/08/06,Mainz,Bochum,2,1,H,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,D1,12/08/06,M'gladbach,Cottbus,2,0,H,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4891,301,D1,14/05/2022,Mainz,Ein Frankfurt,2,2,D,1,2,...,2.40,-0.50,1.86,2.04,1.87,2.04,1.90,2.06,1.87,2.00
4892,302,D1,14/05/2022,M'gladbach,Hoffenheim,5,1,H,3,1,...,4.07,-0.25,1.85,2.05,1.83,2.07,1.88,2.08,1.83,2.03
4893,303,D1,14/05/2022,Stuttgart,FC Koln,2,1,H,1,0,...,2.67,-0.25,1.92,1.98,1.98,1.94,2.03,2.00,1.96,1.91
4894,304,D1,14/05/2022,Union Berlin,Bochum,3,2,H,2,0,...,2.49,-1.50,1.80,2.00,1.85,2.07,1.88,2.12,1.82,2.04
4895,305,D1,14/05/2022,Wolfsburg,Bayern Munich,2,2,D,1,2,...,4.46,1.50,1.93,1.97,1.93,1.97,2.07,2.05,1.91,1.96

In [5]:
merged_df.dropna(axis=1, how="all")

,Unnamed: 0,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,0,D1,11/08/06,Bayern Munich,Dortmund,2,0,H,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,D1,12/08/06,Hamburg,Bielefeld,1,1,D,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,D1,12/08/06,Leverkusen,Aachen,3,0,H,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,D1,12/08/06,Mainz,Bochum,2,1,H,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,D1,12/08/06,M'gladbach,Cottbus,2,0,H,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4891,301,D1,14/05/2022,Mainz,Ein Frankfurt,2,2,D,1,2,...,2.40,-0.50,1.86,2.04,1.87,2.04,1.90,2.06,1.87,2.00
4892,302,D1,14/05/2022,M'gladbach,Hoffenheim,5,1,H,3,1,...,4.07,-0.25,1.85,2.05,1.83,2.07,1.88,2.08,1.83,2.03
4893,303,D1,14/05/2022,Stuttgart,FC Koln,2,1,H,1,0,...,2.67,-0.25,1.92,1.98,1.98,1.94,2.03,2.00,1.96,1.91
4894,304,D1,14/05/2022,Union Berlin,Bochum,3,2,H,2,0,...,2.49,-1.50,1.80,2.00,1.85,2.07,1.88,2.12,1.82,2.04
4895,305,D1,14/05/2022,Wolfsburg,Bayern Munich,2,2,D,1,2,...,4.46,1.50,1.93,1.97,1.93,1.97,2.07,2.05,1.91,1.96

In [6]:
merged_df.to_csv("cumulated_data_bl1_v3_with_mw_and_form.csv")

## Old stuff

In [42]:
set(merged_df['HomeTeam'].values) == set (merged_df['AwayTeam'].values)
set (merged_df['AwayTeam'].values)

{'Aachen',
 'Augsburg',
 'Bayern Munich',
 'Bielefeld',
 'Bochum',
 'Braunschweig',
 'Cottbus',
 'Darmstadt',
 'Dortmund',
 'Duisburg',
 'Ein Frankfurt',
 'FC Koln',
 'Fortuna Dusseldorf',
 'Freiburg',
 'Greuther Furth',
 'Hamburg',
 'Hannover',
 'Hansa Rostock',
 'Hertha',
 'Hoffenheim',
 'Ingolstadt',
 'Kaiserslautern',
 'Karlsruhe',
 'Leverkusen',
 "M'gladbach",
 'Mainz',
 'Munich 1860',
 'Nurnberg',
 'Paderborn',
 'RB Leipzig',
 'Schalke 04',
 'St Pauli',
 'Stuttgart',
 'Union Berlin',
 'Werder Bremen',
 'Wolfsburg',
 nan}

In [1]:
for i in set(merged_df['AwayTeam'].values):
    club = str(i).split()[-1]
    club = parse.quote(club)
    path = f'http://api.clubelo.com/{club}'
    print(path)
    try:
        df = pd.read_csv(path)
    except:
        logging.warning(f"Invalid URL for club {i}")
    if df.empty:
        logging.warning(f"Can't find elo for club {i}")
    else:
        df.to_csv(f"club_elo_historical//{i}.csv")

NameError: name 'merged_df' is not defined