In [1]:
import pandas as pd
import numpy as np
import math
import csv

In [2]:
data = pd.read_csv('cumulated_data_bl1_v2.csv', delimiter=';')
data.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,11.08.2006,Bayern Munich,Dortmund,20,0,H,10,0,H,120,...,90,70,140,200,40,40,10,20,0,0
1,12.08.2006,Hamburg,Bielefeld,10,10,D,0,10,A,260,...,190,50,290,220,110,20,30,20,0,0
2,12.08.2006,Leverkusen,Aachen,30,0,H,20,0,H,200,...,110,50,220,80,50,10,30,0,10,10
3,12.08.2006,Mainz,Bochum,20,10,H,10,0,H,110,...,50,90,170,150,10,80,20,30,0,0
4,12.08.2006,M'gladbach,Cottbus,20,0,H,0,0,D,130,...,80,70,110,240,30,50,0,40,0,10

In [3]:
# data_1 = data.sort_values(by=['Date'], ascending=True)
data_1 = data
data_1

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,11.08.2006,Bayern Munich,Dortmund,20,0,H,10,0,H,120,...,90,70,140,200,40,40,10,20,0,0
1,12.08.2006,Hamburg,Bielefeld,10,10,D,0,10,A,260,...,190,50,290,220,110,20,30,20,0,0
2,12.08.2006,Leverkusen,Aachen,30,0,H,20,0,H,200,...,110,50,220,80,50,10,30,0,10,10
3,12.08.2006,Mainz,Bochum,20,10,H,10,0,H,110,...,50,90,170,150,10,80,20,30,0,0
4,12.08.2006,M'gladbach,Cottbus,20,0,H,0,0,D,130,...,80,70,110,240,30,50,0,40,0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4891,14.05.2022,Mainz,Ein Frankfurt,20,20,D,10,20,A,130,...,40,40,70,110,50,30,20,0,0,0
4892,14.05.2022,M'gladbach,Hoffenheim,50,10,H,30,10,H,190,...,90,20,80,120,60,20,10,20,0,0
4893,14.05.2022,Stuttgart,FC Koln,20,10,H,10,0,H,240,...,120,30,150,100,80,100,10,40,0,0
4894,14.05.2022,Union Berlin,Bochum,30,20,H,20,0,H,170,...,110,30,120,70,10,30,30,20,0,0
4895,14.05.2022,Wolfsburg,Bayern Munich,20,20,D,10,20,A,100,...,20,100,50,100,20,120,10,20,0,0

In [4]:
teams = []
for x in data_1['HomeTeam']:
    if x not in teams:
        teams.append(x)

# teams

In [5]:
format = ['FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG', 'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR']
for f in format:
    z = 0
    for x in data_1[f]:
        x = str(x)
        # print(len(x))
        if len(x) >= 2:
            # print(data_1[f][z])
            data_1[f][z] = x[:-1]
            # print(x)
        z+=1
data_1

C:\Users\Phili\AppData\Local\Temp\ipykernel_23564\403952435.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_1[f][z] = x[:-1]

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,11.08.2006,Bayern Munich,Dortmund,2,0,H,1,0,H,12,...,9,7,14,20,4,4,1,2,0,0
1,12.08.2006,Hamburg,Bielefeld,1,1,D,0,1,A,26,...,19,5,29,22,11,2,3,2,0,0
2,12.08.2006,Leverkusen,Aachen,3,0,H,2,0,H,20,...,11,5,22,8,5,1,3,0,1,1
3,12.08.2006,Mainz,Bochum,2,1,H,1,0,H,11,...,5,9,17,15,1,8,2,3,0,0
4,12.08.2006,M'gladbach,Cottbus,2,0,H,0,0,D,13,...,8,7,11,24,3,5,0,4,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4891,14.05.2022,Mainz,Ein Frankfurt,2,2,D,1,2,A,13,...,4,4,7,11,5,3,2,0,0,0
4892,14.05.2022,M'gladbach,Hoffenheim,5,1,H,3,1,H,19,...,9,2,8,12,6,2,1,2,0,0
4893,14.05.2022,Stuttgart,FC Koln,2,1,H,1,0,H,24,...,12,3,15,10,8,10,1,4,0,0
4894,14.05.2022,Union Berlin,Bochum,3,2,H,2,0,H,17,...,11,3,12,7,1,3,3,2,0,0
4895,14.05.2022,Wolfsburg,Bayern Munich,2,2,D,1,2,A,10,...,2,10,5,10,2,12,1,2,0,0

In [6]:
data_1.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,11.08.2006,Bayern Munich,Dortmund,2,0,H,1,0,H,12,...,9,7,14,20,4,4,1,2,0,0
1,12.08.2006,Hamburg,Bielefeld,1,1,D,0,1,A,26,...,19,5,29,22,11,2,3,2,0,0
2,12.08.2006,Leverkusen,Aachen,3,0,H,2,0,H,20,...,11,5,22,8,5,1,3,0,1,1
3,12.08.2006,Mainz,Bochum,2,1,H,1,0,H,11,...,5,9,17,15,1,8,2,3,0,0
4,12.08.2006,M'gladbach,Cottbus,2,0,H,0,0,D,13,...,8,7,11,24,3,5,0,4,0,1

In [7]:
data_2 = data_1
data_2.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,11.08.2006,Bayern Munich,Dortmund,2,0,H,1,0,H,12,...,9,7,14,20,4,4,1,2,0,0
1,12.08.2006,Hamburg,Bielefeld,1,1,D,0,1,A,26,...,19,5,29,22,11,2,3,2,0,0
2,12.08.2006,Leverkusen,Aachen,3,0,H,2,0,H,20,...,11,5,22,8,5,1,3,0,1,1
3,12.08.2006,Mainz,Bochum,2,1,H,1,0,H,11,...,5,9,17,15,1,8,2,3,0,0
4,12.08.2006,M'gladbach,Cottbus,2,0,H,0,0,D,13,...,8,7,11,24,3,5,0,4,0,1

In [8]:
data_2['HomeElo'] = 0
data_2['AwayElo'] = 0
data_2['HomeAttack'] = 0
data_2['HomeDefend'] = 0
data_2['AwayAttack'] = 0
data_2['AwayDefend'] = 0
data_2.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,HY,AY,HR,AR,HomeElo,AwayElo,HomeAttack,HomeDefend,AwayAttack,AwayDefend
0,11.08.2006,Bayern Munich,Dortmund,2,0,H,1,0,H,12,...,1,2,0,0,0,0,0,0,0,0
1,12.08.2006,Hamburg,Bielefeld,1,1,D,0,1,A,26,...,3,2,0,0,0,0,0,0,0,0
2,12.08.2006,Leverkusen,Aachen,3,0,H,2,0,H,20,...,3,0,1,1,0,0,0,0,0,0
3,12.08.2006,Mainz,Bochum,2,1,H,1,0,H,11,...,2,3,0,0,0,0,0,0,0,0
4,12.08.2006,M'gladbach,Cottbus,2,0,H,0,0,D,13,...,0,4,0,1,0,0,0,0,0,0

In [9]:
'''
elohome = 0
eloaway = 0
homeadvantage = 1

diffelo = elohome - eloaway + homeadvantage

outcomeexpected = 1/(1+10^(-diffelo/400))

if data_1.FTR == "H":
    outcometrue = 1
elif data_1.FTR == "D":
    outcometrue = 0.5
else:
    outcometrue = 0

diffgoal = int(data_1.FTHG - data_1.FTAG)

if diffgoal <= 1:
    marginofvictory = 1
else:
    marginofvictory = (math.log2(1.7*diffgoal)*2)/(2+0.001*diffelo)

elogain = 20 * (outcometrue - outcomeexpected) * marginofvictory

elohome = elohome + elogain
eloaway = eloaway - elogain
'''

'\nelohome = 0\neloaway = 0\nhomeadvantage = 1\n\ndiffelo = elohome - eloaway + homeadvantage\n\noutcomeexpected = 1/(1+10^(-diffelo/400))\n\nif data_1.FTR == "H":\n    outcometrue = 1\nelif data_1.FTR == "D":\n    outcometrue = 0.5\nelse:\n    outcometrue = 0\n\ndiffgoal = int(data_1.FTHG - data_1.FTAG)\n\nif diffgoal <= 1:\n    marginofvictory = 1\nelse:\n    marginofvictory = (math.log2(1.7*diffgoal)*2)/(2+0.001*diffelo)\n\nelogain = 20 * (outcometrue - outcomeexpected) * marginofvictory\n\nelohome = elohome + elogain\neloaway = eloaway - elogain\n'

In [10]:
teams_elo_avstaerke = {
    'Aachen': [0, 0, 0, 0],
    'Augsburg': [0, 0, 0, 0],
    'Bayern Munich': [0, 0, 0, 0],
    'Bielefeld': [0, 0, 0, 0],
    'Bochum': [0, 0, 0, 0],
    'Braunschweig': [0, 0, 0, 0],
    'Cottbus': [0, 0, 0, 0],
    'Darmstadt': [0, 0, 0, 0],
    'Dortmund': [0, 0, 0, 0],
    'Duisburg': [0, 0, 0, 0],
    'Ein Frankfurt': [0, 0, 0, 0],
    'FC Koln': [0, 0, 0, 0],
    'Fortuna Dusseldorf': [0, 0, 0, 0],
    'Freiburg': [0, 0, 0, 0],
    'Greuther Furth': [0, 0, 0, 0],
    'Hamburg': [0, 0, 0, 0],
    'Hannover': [0, 0, 0, 0],
    'Hansa Rostock': [0, 0, 0, 0],
    'Hertha': [0, 0, 0, 0],
    'Hoffenheim': [0, 0, 0, 0],
    'Ingolstadt': [0, 0, 0, 0],
    'Kaiserslautern': [0, 0, 0, 0],
    'Karlsruhe': [0, 0, 0, 0],
    'Leverkusen': [0, 0, 0, 0],
    'Mainz': [0, 0, 0, 0],
    'M\'gladbach': [0, 0, 0, 0],
    'Nurnberg': [0, 0, 0, 0],
    'Paderborn': [0, 0, 0, 0],
    'RB Leipzig': [0, 0, 0, 0],
    'Schalke 04': [0, 0, 0, 0],
    'St Pauli': [0, 0, 0, 0],
    'Stuttgart': [0, 0, 0, 0],
    'Union Berlin': [0, 0, 0, 0],
    'Werder Bremen': [0, 0, 0, 0],
    'Wolfsburg': [0, 0, 0, 0]
}

hometeam = data_1.HomeTeam[300]
homeelo = teams_elo_avstaerke[hometeam][0]
print(homeelo)
'''
awayteam = data_1.HomeTeam
awayelo = teams_elo_avstaerke[hometeam][0]'''

'''for i in teams_elo_avstaerke:
    print(list(teams_elo_avstaerke.items())[0][1][0])'''

0

'for i in teams_elo_avstaerke:\n    print(list(teams_elo_avstaerke.items())[0][1][0])'

In [11]:
hometeam = data_1.HomeTeam[0]
homeelo = teams_elo_avstaerke[hometeam][0]

awayteam = data_1.AwayTeam[0]
awayelo = teams_elo_avstaerke[hometeam][0]

def diffelo(homeelo, awayelo):
    homeadvantage = 1
    diffelo = homeelo - awayelo + homeadvantage
    return diffelo

diffelo(homeelo, awayelo)

1

In [12]:
def outcomeexpected():
    elodiff = diffelo(homeelo, awayelo)
    outcomeexpected = 1 / (1 + 10 ** (-elodiff / 400))
    return outcomeexpected

outcomeexpected()

0.5014391117091528

In [13]:
def outcometrue():
    if data_1.FTR[0] == "H":
        outcometrue = 1
    elif data_1.FTR[0] == "D":
        outcometrue = 0.5
    else:
        outcometrue = 0
    return outcometrue

outcometrue()

1

In [14]:
def marginofvictory(homeelo, awayelo):
    elodiff = diffelo(homeelo, awayelo)
    diffgoal = data_1.FTHG[0] - data_1.FTAG[0]

    if diffgoal <= 1:
        marginofvictory = 1
    else:
        marginofvictory = (math.log2(1.7 * diffgoal) * 2) / (2 + 0.001 * elodiff)
    return marginofvictory
    
marginofvictory(homeelo, awayelo)

1.7646524201529006

In [16]:
def elogain(homeelo, awayelo):
    trueoutcome = outcometrue()
    expectedoutcome = outcomeexpected()
    ofvictorymargin = marginofvictory(homeelo, awayelo)

    elogain = 20 * (trueoutcome - expectedoutcome) * ofvictorymargin
    elohome = homeelo + elogain
    eloaway = awayelo - elogain
    return elohome, eloaway

elogain(homeelo, awayelo)

(17.595733562320472, -17.595733562320472)

In [17]:
def elogain_2(z, hometeam, awayteam):
    homeelo = teams_elo_avstaerke[hometeam][0]
    awayelo = teams_elo_avstaerke[awayteam][0]

    trueoutcome = outcometrue_2(z)
    expectedoutcome = outcomeexpected_2(z, homeelo, awayelo)
    ofvictorymargin = marginofvictory_2(z, homeelo, awayelo)

    elogain = 20 * (trueoutcome - expectedoutcome) * ofvictorymargin
    elohome = homeelo + elogain
    eloaway = awayelo - elogain

    teams_elo_avstaerke[hometeam][0] = elohome
    teams_elo_avstaerke[awayteam][1] = eloaway

    return elohome, eloaway


def marginofvictory_2(z, homeelo, awayelo):
    elodiff = diffelo(homeelo, awayelo)
    diffgoal = data_1.FTHG[z] - data_1.FTAG[z]

    if diffgoal <= 1:
        marginofvictory = 1
    else:
        marginofvictory = (math.log2(1.7 * diffgoal) * 2) / (2 +
                                                             0.001 * elodiff)
    return marginofvictory


def outcometrue_2(z):
    if data_1.FTR[z] == "H":
        outcometrue = 1
    elif data_1.FTR[z] == "D":
        outcometrue = 0.5
    else:
        outcometrue = 0
    return outcometrue


def outcomeexpected_2(z, homeelo, awayelo):
    elodiff = diffelo(homeelo, awayelo)
    outcomeexpected = 1 / (1 + 10**(-elodiff / 400))
    return outcomeexpected

In [18]:
alpha = 1
ratio = 0.75

# attack = attack + ((goalsshot - attack) * ratio + (goalsshot + otherteamdefend) * (1-ratio)) * alpha
# defend = defend - ((goalsgot + defend) * ratio + (goalsgot - otherteamattack) * (1-ratio)) * alpha

In [19]:
def home_attack(z, alpha, ratio, hometeam, awayteam):
    goalsshot = data_2.FTHG[z]
    attack_old = teams_elo_avstaerke[hometeam][2]
    otherteamdefend = teams_elo_avstaerke[awayteam][3]
    homeattack = attack_old + ((goalsshot - attack_old) * ratio + (goalsshot + otherteamdefend) * (1-ratio)) * alpha
    teams_elo_avstaerke[hometeam][2] = homeattack
    return homeattack

def home_defend(z, alpha, ratio, hometeam, awayteam):
    goalsgot = data_2.FTAG[z]
    defend_old = teams_elo_avstaerke[hometeam][3]
    otherteamattack = teams_elo_avstaerke[awayteam][2]
    homedefend = defend_old - ((goalsgot + defend_old) * ratio + (goalsgot - otherteamattack) * (1-ratio)) * alpha
    teams_elo_avstaerke[hometeam][3] = homedefend
    return homedefend

In [20]:
test1 = home_attack(alpha, ratio)
test2 = home_defend(alpha, ratio)

print(test1)
print(test2)

TypeError: home_attack() missing 3 required positional arguments: 'ratio', 'hometeam', and 'awayteam'

In [21]:
def away_attack(z, alpha, ratio, hometeam , awayteam):
    goalsshot = data_2.FTAG[z]
    attack_old = teams_elo_avstaerke[hometeam][2]
    otherteamdefend = teams_elo_avstaerke[awayteam][3]
    awayattack = attack_old + ((goalsshot - attack_old) * ratio + (goalsshot + otherteamdefend) * (1-ratio)) * alpha
    teams_elo_avstaerke[awayteam][2] = awayattack
    return awayattack

def away_defend(z, alpha, ratio,hometeam, awayteam):
    goalsgot = data_2.FTHG[z]
    defend_old = teams_elo_avstaerke[awayteam][3]
    otherteamattack = teams_elo_avstaerke[hometeam][2]
    awaydefend = defend_old - ((goalsgot + defend_old) * ratio + (goalsgot - otherteamattack) * (1-ratio)) * alpha
    teams_elo_avstaerke[awayteam][3] = awaydefend
    return awaydefend

In [22]:
test1 = away_attack(alpha, ratio)
test2 = away_defend(alpha, ratio)

print(test1)
print(test2)

TypeError: away_attack() missing 3 required positional arguments: 'ratio', 'hometeam', and 'awayteam'

In [23]:
z = 0
while z < len(data_1):
    alpha=1.0
    ratio=0.75
    hometeam = data_2.HomeTeam[z]
    awayteam = data_2.HomeTeam[z]

    homeelo, awayelo = elogain_2(z, hometeam, awayteam)
    homeattack1 = home_attack(z, alpha, ratio, hometeam, awayteam)
    homedefend1 = home_defend(z, alpha, ratio, hometeam, awayteam)
    awayattack1 = away_attack(z, alpha, ratio, hometeam, awayteam)
    awaydefend1 = away_defend(z, alpha, ratio, hometeam, awayteam)

    data_2['HomeElo'][z] = homeelo
    data_2['AwayElo'][z] = awayelo
    data_2['HomeAttack'][z] = homeattack1
    data_2['HomeDefend'][z] = homedefend1
    data_2['AwayAttack'][z] = awayattack1
    data_2['AwayDefend'][z] = awaydefend1
    
    z+=1

C:\Users\Phili\AppData\Local\Temp\ipykernel_23564\3593840283.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2['HomeElo'][z] = homeelo
C:\Users\Phili\AppData\Local\Temp\ipykernel_23564\3593840283.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2['AwayElo'][z] = awayelo
C:\Users\Phili\AppData\Local\Temp\ipykernel_23564\3593840283.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2['HomeAttack'][z] = homeattack1
C:\Users\Phili\AppData\Local\Temp\ipykernel_23564\3593840283.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2['HomeDefend'][z] = homedefend1
C:\Users\Phili\AppData\Local\Temp\ipykernel_23564\3593840283.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2['AwayAttack'][z] = awayattack1
C:\Users\Phili\AppData\Local\Temp\ipykernel_23564\3593840283.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2['AwayDefend'][z] = awaydefend1

In [24]:
data_2

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,HY,AY,HR,AR,HomeElo,AwayElo,HomeAttack,HomeDefend,AwayAttack,AwayDefend
0,11.08.2006,Bayern Munich,Dortmund,2,0,H,1,0,H,12,...,1,2,0,0,17,-17,2,0,0,-1
1,12.08.2006,Hamburg,Bielefeld,1,1,D,0,1,A,26,...,3,2,0,0,0,0,1,0,1,0
2,12.08.2006,Leverkusen,Aachen,3,0,H,2,0,H,20,...,3,0,1,1,23,-23,3,0,0,-2
3,12.08.2006,Mainz,Bochum,2,1,H,1,0,H,11,...,2,3,0,0,9,-9,2,0,1,-1
4,12.08.2006,M'gladbach,Cottbus,2,0,H,0,0,D,13,...,0,4,0,1,17,-17,2,0,0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4891,14.05.2022,Mainz,Ein Frankfurt,2,2,D,1,2,A,13,...,2,0,0,0,780,780,1,-2,1,-2
4892,14.05.2022,M'gladbach,Hoffenheim,5,1,H,3,1,H,19,...,1,2,0,0,1447,1392,4,0,2,-4
4893,14.05.2022,Stuttgart,FC Koln,2,1,H,1,0,H,24,...,1,4,0,0,971,951,2,0,1,-1
4894,14.05.2022,Union Berlin,Bochum,3,2,H,2,0,H,17,...,3,2,0,0,296,276,2,-1,2,-2
4895,14.05.2022,Wolfsburg,Bayern Munich,2,2,D,1,2,A,10,...,1,2,0,0,1307,1307,1,-2,1,-2

In [ ]:
print(teams_elo_avstaerke)

{'Aachen': [-15.240266388104882, -15.182701919738772, 2.3231114037647727, -1.7690808973371634], 'Augsburg': [316.08392995093703, 296.1414944193031, 1.4768817345645278, -1.7913707112246708], 'Bayern Munich': [4229.748871704384, 4229.806436172751, 1.851469533917737, -2.105973764188066], 'Bielefeld': [27.21929204722798, 27.27685651559409, 1.0334250027349365, -0.9786087833517156], 'Bochum': [32.502088991742326, 12.559653460108436, 1.4757542109387352, -1.7419570236454418], 'Braunschweig': [-11.785877048845226, 8.271687419520884, 0.7809561787920627, -0.06965230868965244], 'Cottbus': [60.5733722129483, 13.722158002795112, 0.9797435870857969, -2.5651573098775753], 'Darmstadt': [-62.275175029957154, -42.217610561591044, 1.1790510403313523, -0.4058079713119169], 'Dortmund': [2766.920256011884, 2746.9778204802496, 1.1731575629032098, -2.038525198558692], 'Duisburg': [-67.03490864185228, -46.97734417348617, 2.692493291952029, -2.1224653740759325], 'Ein Frankfurt': [772.6957430495942, 772.7533075179603, 0.9618418403504763, -1.0619248675012067], 'FC Koln': [225.72076193315763, 245.77832640152377, 0.4624160750986631, -0.33541887009521676], 'Fortuna Dusseldorf': [64.60860350195702, 64.66616797032313, 1.080246046226293, -0.9248800488328671], 'Freiburg': [612.6879647256741, 632.7455291940402, 3.1127933505488175, -1.3506686034531725], 'Greuther Furth': [-190.97859596222384, -170.92103149385775, 2.6788929041124634, -1.047962731502403], 'Hamburg': [514.3902567993655, 494.44782126773157, 1.2314366721577619, -1.9001220855093122], 'Hannover': [637.0764106117549, 590.2251964016018, 0.8481902659955116, -2.6602271865892537], 'Hansa Rostock': [-15.240266388104882, 4.817298080261228, 1.859991018329898, -1.0175565808703917], 'Hertha': [486.5462189264513, 506.60378339481736, 1.6164098097378985, -1.160949630079839], 'Hoffenheim': [1064.157834731005, 1084.2153991993714, 3.533068702774182, -2.151903659687312], 'Ingolstadt': [22.973856563049893, 23.031421031416002, 0.9938057605194519, -1.0054504356061202], 'Kaiserslautern': [-13.85149785486773, 6.206066613498379, 4.469344404920507, -1.9972123699203457], 'Karlsruhe': [19.485701872282934, -35.63823454934341, 1.2019415410721423, -3.5553550220777224], 'Leverkusen': [1788.145002217395, 1768.2025666857612, 1.1828434492931357, -1.9538482641353965], 'Mainz': [780.330656428849, 780.3882208972151, 1.8718511834025642, -2.092349709492589], "M'gladbach": [1447.259278488911, 1392.1353420672847, 2.0694919997938186, -4.602898121986394], 'Nurnberg': [231.1955826918026, 251.25314716016868, 2.9302910923824785, -0.3327609304380932], 'Paderborn': [-110.48053277620976, -90.42296830784365, 2.7324449736448164, -1.0280381614811114], 'RB Leipzig': [932.3637045333279, 877.2397681117017, 1.193442433753436, -3.525257023343861], 'Schalke 04': [1481.6416180003118, 1461.6991824686781, 3.486841159349485, -3.6838417692626795], 'St Pauli': [-39.41039284534875, -19.352828376982647, 6.377301198196366, -1.3809200209881407], 'Stuttgart': [971.0763710186515, 951.1339354870175, 1.3321050307909734, -1.8465755465183307], 'Union Berlin': [296.62156518454105, 276.67912965290714, 2.3474796513046696, -2.7991456705717894], 'Werder Bremen': [943.4818086246495, 963.5393730930156, 3.6322425995368555, -1.964445872328147], 'Wolfsburg': [1307.8989265570417, 1307.956491025408, 1.565576447942122, -2.327341265568694]}

In [25]:
teams_test = {
    'Aachen': [0, 0, 0, 0],
    'Augsburg': [0, 0, 0, 0],
    'Bayern Munich': [0, 0, 0, 0],
    'Bielefeld': [0, 0, 0, 0],
    'Bochum': [0, 0, 0, 0],
    'Braunschweig': [0, 0, 0, 0],
    'Cottbus': [0, 0, 0, 0],
    'Darmstadt': [0, 0, 0, 0],
    'Dortmund': [0, 0, 0, 0],
    'Duisburg': [0, 0, 0, 0],
    'Ein Frankfurt': [0, 0, 0, 0],
    'FC Koln': [0, 0, 0, 0],
    'Fortuna Dusseldorf': [0, 0, 0, 0],
    'Freiburg': [0, 0, 0, 0],
    'Greuther Furth': [0, 0, 0, 0],
    'Hamburg': [0, 0, 0, 0],
    'Hannover': [0, 0, 0, 0],
    'Hansa Rostock': [0, 0, 0, 0],
    'Hertha': [0, 0, 0, 0],
    'Hoffenheim': [0, 0, 0, 0],
    'Ingolstadt': [0, 0, 0, 0],
    'Kaiserslautern': [0, 0, 0, 0],
    'Karlsruhe': [0, 0, 0, 0],
    'Leverkusen': [0, 0, 0, 0],
    'Mainz': [0, 0, 0, 0],
    'Nurnberg': [0, 0, 0, 0],
    'Paderborn': [0, 0, 0, 0],
    'RB Leipzig': [0, 0, 0, 0],
    'Schalke 04': [0, 0, 0, 0],
    'St Pauli': [0, 0, 0, 0],
    'Stuttgart': [0, 0, 0, 0],
    'Union Berlin': [0, 0, 0, 0],
    'Werder Bremen': [0, 0, 0, 0],
    'Wolfsburg': [0, 0, 0, 0]
}

In [26]:
for x in range(len(data_1)):
    zaehler = 0
    for team in teams_test.keys() :
        if team in data_1.loc[x,'HomeTeam']:
            zaehler += 1
            updated = {team: zaehler}
            teams_test.update(updated)

print(zaehler)
print(teams_test)

1
{'Aachen': 1, 'Augsburg': 1, 'Bayern Munich': 1, 'Bielefeld': 1, 'Bochum': 1, 'Braunschweig': 1, 'Cottbus': 1, 'Darmstadt': 1, 'Dortmund': 1, 'Duisburg': 1, 'Ein Frankfurt': 1, 'FC Koln': 1, 'Fortuna Dusseldorf': 1, 'Freiburg': 1, 'Greuther Furth': 1, 'Hamburg': 1, 'Hannover': 1, 'Hansa Rostock': 1, 'Hertha': 1, 'Hoffenheim': 1, 'Ingolstadt': 1, 'Kaiserslautern': 1, 'Karlsruhe': 1, 'Leverkusen': 1, 'Mainz': 1, 'Nurnberg': 1, 'Paderborn': 1, 'RB Leipzig': 1, 'Schalke 04': 1, 'St Pauli': 1, 'Stuttgart': 1, 'Union Berlin': 1, 'Werder Bremen': 1, 'Wolfsburg': 1}

In [27]:
aggregated = data_1.groupby(by='HomeTeam').sum()

for team in teams_test.keys():
    zaehler_home = 0
    zaehler_away = 0
    goals_home = aggregated['FTHG'][team]
    goals_away = aggregated['FTAG'][team]
    for x in range(len(data_1)):
        if team in data_1.loc[x, 'HomeTeam']:
            zaehler_home += 1
        if team in data_1.loc[x, 'AwayTeam']:
            zaehler_away += 1

        updated = {team: [zaehler_home, zaehler_away, goals_home, goals_away]}
        teams_test.update(updated)

print(teams_test)

{'Aachen': [17, 17, 28, 37], 'Augsburg': [187, 187, 266, 273], 'Bayern Munich': [272, 272, 777, 207], 'Bielefeld': [85, 85, 94, 114], 'Bochum': [85, 85, 117, 138], 'Braunschweig': [17, 17, 18, 24], 'Cottbus': [51, 51, 65, 69], 'Darmstadt': [34, 34, 33, 54], 'Dortmund': [272, 272, 617, 276], 'Duisburg': [17, 17, 19, 29], 'Ein Frankfurt': [255, 255, 396, 357], 'FC Koln': [187, 187, 240, 265], 'Fortuna Dusseldorf': [51, 51, 69, 84], 'Freiburg': [204, 204, 293, 273], 'Greuther Furth': [34, 34, 25, 69], 'Hamburg': [204, 204, 268, 245], 'Hannover': [204, 204, 316, 297], 'Hansa Rostock': [17, 17, 17, 21], 'Hertha': [238, 238, 314, 337], 'Hoffenheim': [238, 238, 415, 323], 'Ingolstadt': [34, 34, 43, 48], 'Kaiserslautern': [34, 34, 37, 47], 'Karlsruhe': [34, 34, 41, 44], 'Leverkusen': [272, 272, 523, 328], 'Mainz': [238, 238, 341, 292], 'Nurnberg': [136, 136, 171, 174], 'Paderborn': [34, 34, 42, 77], 'RB Leipzig': [102, 102, 213, 102], 'Schalke 04': [255, 255, 417, 281], 'St Pauli': [17, 17, 21, 35], 'Stuttgart': [238, 238, 383, 321], 'Union Berlin': [51, 51, 81, 55], 'Werder Bremen': [255, 255, 425, 371], 'Wolfsburg': [272, 272, 474, 354]}

In [28]:
# elo_api = {
#     'Bayern Munich': 195421130371,
#     'RB Leipzig': 180803869629,
#     ' Dortmund': 179639416504,
#     'Leverkusen': 179144921875,
#     'Frankfurt': 173395397949,
#     'Union Berlin': 172752734375,
#     'Freiburg': 171513647461,
#     'Gladbach': 170800561523,
#     'Wolfsburg': 167846154785,
#     'Mainz': 167658898926,
#     'Koeln': 167578808594,
#     'Hoffenheim': 166018737793,
#     'Stuttgart': 161728076172,
#     'Augsburg': 161279321289,
#     'Bochum': 160994140625,
#     'Hertha': 160994140625,
#     'Bielefeld': 157295336914,
#     'Fuerth': 15066628418
# }

In [ ]:
# data_1['FTHG']= data_1['FTHG'].map(str)
# data_1['FTAG'] = data_1['FTAG'].map(str)
# data_1['HTHG']= data_1['HTHG'].map(str)
# data_1['HTAG'] = data_1['HTAG'].map(str)
# data_1['HS'] = data_1['HS'].map(str)
# data_1['AS'] = data_1['AS'].map(str)
# data_1['HST'] = data_1['HST'].map(str)
# data_1['AST'] = data_1['AST'].map(str)
# data_1['HF']= data_1['HF'].map(str)
# data_1['AF'] = data_1['AF'].map(str)
# data_1['HC'] = data_1['HC'].map(str)
# data_1['AC'] = data_1['AC'].map(str)
# data_1['HY'] = data_1['HY'].map(str)
# data_1['AY'] = data_1['AY'].map(str)
# data_1['HR'] = data_1['HR'].map(str)
# data_1['AR'] = data_1['AR'].map(str)

In [ ]:
# data_1.dtypes

In [ ]:
# data_1['FTHG'] = data_1['FTHG'].str[:-1]
# data_1['FTAG'] = data_1['FTAG'].str[:-1]
# data_1['HTHG'] = data_1['HTHG'].str[:-1]
# data_1['HTAG'] = data_1['HTAG'].str[:-1]
# data_1['HS'] = data_1['HS'].str[:-1]
# data_1['AS'] = data_1['AS'].str[:-1]
# data_1['HST'] = data_1['HST'].str[:-1]
# data_1['AST'] = data_1['AST'].str[:-1]
# data_1['HF'] = data_1['HF'].str[:-1]
# data_1['AF'] = data_1['AF'].str[:-1]
# data_1['HC'] = data_1['HC'].str[:-1]
# data_1['AC'] = data_1['AC'].str[:-1]
# data_1['HY'] = data_1['HY'].str[:-1]
# data_1['AY'] = data_1['AY'].str[:-1]
# data_1['HR'] = data_1['HR'].str[:-1]
# data_1['AR'] = data_1['AR'].str[:-1]

In [29]:
data_1.to_csv("../Modelltraining/preprocessed_dataframe_with_elo.csv")
data_1.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,HY,AY,HR,AR,HomeElo,AwayElo,HomeAttack,HomeDefend,AwayAttack,AwayDefend
0,11.08.2006,Bayern Munich,Dortmund,2,0,H,1,0,H,12,...,1,2,0,0,17,-17,2,0,0,-1
1,12.08.2006,Hamburg,Bielefeld,1,1,D,0,1,A,26,...,3,2,0,0,0,0,1,0,1,0
2,12.08.2006,Leverkusen,Aachen,3,0,H,2,0,H,20,...,3,0,1,1,23,-23,3,0,0,-2
3,12.08.2006,Mainz,Bochum,2,1,H,1,0,H,11,...,2,3,0,0,9,-9,2,0,1,-1
4,12.08.2006,M'gladbach,Cottbus,2,0,H,0,0,D,13,...,0,4,0,1,17,-17,2,0,0,-1