In [1]:
import pandas as pd
import numpy as np
import math
import csv

In [2]:
data = pd.read_csv('cumulated_data_bl1_v2.csv', delimiter=';')
data.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,11.08.2006,Bayern Munich,Dortmund,20,0,H,10,0,H,120,...,90,70,140,200,40,40,10,20,0,0
1,12.08.2006,Hamburg,Bielefeld,10,10,D,0,10,A,260,...,190,50,290,220,110,20,30,20,0,0
2,12.08.2006,Leverkusen,Aachen,30,0,H,20,0,H,200,...,110,50,220,80,50,10,30,0,10,10
3,12.08.2006,Mainz,Bochum,20,10,H,10,0,H,110,...,50,90,170,150,10,80,20,30,0,0
4,12.08.2006,M'gladbach,Cottbus,20,0,H,0,0,D,130,...,80,70,110,240,30,50,0,40,0,10

In [3]:
# data_1 = data.sort_values(by=['Date'], ascending=True)
data_1 = data
data_1

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,11.08.2006,Bayern Munich,Dortmund,20,0,H,10,0,H,120,...,90,70,140,200,40,40,10,20,0,0
1,12.08.2006,Hamburg,Bielefeld,10,10,D,0,10,A,260,...,190,50,290,220,110,20,30,20,0,0
2,12.08.2006,Leverkusen,Aachen,30,0,H,20,0,H,200,...,110,50,220,80,50,10,30,0,10,10
3,12.08.2006,Mainz,Bochum,20,10,H,10,0,H,110,...,50,90,170,150,10,80,20,30,0,0
4,12.08.2006,M'gladbach,Cottbus,20,0,H,0,0,D,130,...,80,70,110,240,30,50,0,40,0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4891,14.05.2022,Mainz,Ein Frankfurt,20,20,D,10,20,A,130,...,40,40,70,110,50,30,20,0,0,0
4892,14.05.2022,M'gladbach,Hoffenheim,50,10,H,30,10,H,190,...,90,20,80,120,60,20,10,20,0,0
4893,14.05.2022,Stuttgart,FC Koln,20,10,H,10,0,H,240,...,120,30,150,100,80,100,10,40,0,0
4894,14.05.2022,Union Berlin,Bochum,30,20,H,20,0,H,170,...,110,30,120,70,10,30,30,20,0,0
4895,14.05.2022,Wolfsburg,Bayern Munich,20,20,D,10,20,A,100,...,20,100,50,100,20,120,10,20,0,0

In [4]:
teams = []
for x in data_1['HomeTeam']:
    if x not in teams:
        teams.append(x)

# teams

In [5]:
format = ['FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG', 'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR']
for f in format:
    z = 0
    for x in data_1[f]:
        x = str(x)
        # print(len(x))
        if len(x) >= 2:
            # print(data_1[f][z])
            data_1[f][z] = x[:-1]
            # print(x)
        z+=1
data_1

C:\Users\Phili\AppData\Local\Temp/ipykernel_5576/403952435.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_1[f][z] = x[:-1]

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,11.08.2006,Bayern Munich,Dortmund,2,0,H,1,0,H,12,...,9,7,14,20,4,4,1,2,0,0
1,12.08.2006,Hamburg,Bielefeld,1,1,D,0,1,A,26,...,19,5,29,22,11,2,3,2,0,0
2,12.08.2006,Leverkusen,Aachen,3,0,H,2,0,H,20,...,11,5,22,8,5,1,3,0,1,1
3,12.08.2006,Mainz,Bochum,2,1,H,1,0,H,11,...,5,9,17,15,1,8,2,3,0,0
4,12.08.2006,M'gladbach,Cottbus,2,0,H,0,0,D,13,...,8,7,11,24,3,5,0,4,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4891,14.05.2022,Mainz,Ein Frankfurt,2,2,D,1,2,A,13,...,4,4,7,11,5,3,2,0,0,0
4892,14.05.2022,M'gladbach,Hoffenheim,5,1,H,3,1,H,19,...,9,2,8,12,6,2,1,2,0,0
4893,14.05.2022,Stuttgart,FC Koln,2,1,H,1,0,H,24,...,12,3,15,10,8,10,1,4,0,0
4894,14.05.2022,Union Berlin,Bochum,3,2,H,2,0,H,17,...,11,3,12,7,1,3,3,2,0,0
4895,14.05.2022,Wolfsburg,Bayern Munich,2,2,D,1,2,A,10,...,2,10,5,10,2,12,1,2,0,0

In [6]:
data_1.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,11.08.2006,Bayern Munich,Dortmund,2,0,H,1,0,H,12,...,9,7,14,20,4,4,1,2,0,0
1,12.08.2006,Hamburg,Bielefeld,1,1,D,0,1,A,26,...,19,5,29,22,11,2,3,2,0,0
2,12.08.2006,Leverkusen,Aachen,3,0,H,2,0,H,20,...,11,5,22,8,5,1,3,0,1,1
3,12.08.2006,Mainz,Bochum,2,1,H,1,0,H,11,...,5,9,17,15,1,8,2,3,0,0
4,12.08.2006,M'gladbach,Cottbus,2,0,H,0,0,D,13,...,8,7,11,24,3,5,0,4,0,1

In [7]:
data_2 = data_1
data_2.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,11.08.2006,Bayern Munich,Dortmund,2,0,H,1,0,H,12,...,9,7,14,20,4,4,1,2,0,0
1,12.08.2006,Hamburg,Bielefeld,1,1,D,0,1,A,26,...,19,5,29,22,11,2,3,2,0,0
2,12.08.2006,Leverkusen,Aachen,3,0,H,2,0,H,20,...,11,5,22,8,5,1,3,0,1,1
3,12.08.2006,Mainz,Bochum,2,1,H,1,0,H,11,...,5,9,17,15,1,8,2,3,0,0
4,12.08.2006,M'gladbach,Cottbus,2,0,H,0,0,D,13,...,8,7,11,24,3,5,0,4,0,1

In [8]:
data_2['HomeElo'] = 0
data_2['AwayElo'] = 0
data_2['HomeAttack'] = 0
data_2['HomeDefend'] = 0
data_2['AwayAttack'] = 0
data_2['AwayDefend'] = 0
data_2['HomeAttackOld'] = 0
data_2['HomeDefendOld'] = 0
data_2['AwayAttackOld'] = 0
data_2['AwayDefendOld'] = 0
data_2['HomeEloOld'] = 0
data_2['AwayEloOld'] = 0
data_2.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,HomeAttack,HomeDefend,AwayAttack,AwayDefend,HomeAttackOld,HomeDefendOld,AwayAttackOld,AwayDefendOld,HomeEloOld,AwayEloOld
0,11.08.2006,Bayern Munich,Dortmund,2,0,H,1,0,H,12,...,0,0,0,0,0,0,0,0,0,0
1,12.08.2006,Hamburg,Bielefeld,1,1,D,0,1,A,26,...,0,0,0,0,0,0,0,0,0,0
2,12.08.2006,Leverkusen,Aachen,3,0,H,2,0,H,20,...,0,0,0,0,0,0,0,0,0,0
3,12.08.2006,Mainz,Bochum,2,1,H,1,0,H,11,...,0,0,0,0,0,0,0,0,0,0
4,12.08.2006,M'gladbach,Cottbus,2,0,H,0,0,D,13,...,0,0,0,0,0,0,0,0,0,0

In [9]:
'''
elohome = 0
eloaway = 0
homeadvantage = 1

diffelo = elohome - eloaway + homeadvantage

outcomeexpected = 1/(1+10^(-diffelo/400))

if data_1.FTR == "H":
    outcometrue = 1
elif data_1.FTR == "D":
    outcometrue = 0.5
else:
    outcometrue = 0

diffgoal = int(data_1.FTHG - data_1.FTAG)

if diffgoal <= 1:
    marginofvictory = 1
else:
    marginofvictory = (math.log2(1.7*diffgoal)*2)/(2+0.001*diffelo)

elogain = 20 * (outcometrue - outcomeexpected) * marginofvictory

elohome = elohome + elogain
eloaway = eloaway - elogain
'''

'\nelohome = 0\neloaway = 0\nhomeadvantage = 1\n\ndiffelo = elohome - eloaway + homeadvantage\n\noutcomeexpected = 1/(1+10^(-diffelo/400))\n\nif data_1.FTR == "H":\n    outcometrue = 1\nelif data_1.FTR == "D":\n    outcometrue = 0.5\nelse:\n    outcometrue = 0\n\ndiffgoal = int(data_1.FTHG - data_1.FTAG)\n\nif diffgoal <= 1:\n    marginofvictory = 1\nelse:\n    marginofvictory = (math.log2(1.7*diffgoal)*2)/(2+0.001*diffelo)\n\nelogain = 20 * (outcometrue - outcomeexpected) * marginofvictory\n\nelohome = elohome + elogain\neloaway = eloaway - elogain\n'

In [10]:
teams_elo_avstaerke = {
    'Aachen': [0, 0, 0, 0],
    'Augsburg': [0, 0, 0, 0],
    'Bayern Munich': [0, 0, 0, 0],
    'Bielefeld': [0, 0, 0, 0],
    'Bochum': [0, 0, 0, 0],
    'Braunschweig': [0, 0, 0, 0],
    'Cottbus': [0, 0, 0, 0],
    'Darmstadt': [0, 0, 0, 0],
    'Dortmund': [0, 0, 0, 0],
    'Duisburg': [0, 0, 0, 0],
    'Ein Frankfurt': [0, 0, 0, 0],
    'FC Koln': [0, 0, 0, 0],
    'Fortuna Dusseldorf': [0, 0, 0, 0],
    'Freiburg': [0, 0, 0, 0],
    'Greuther Furth': [0, 0, 0, 0],
    'Hamburg': [0, 0, 0, 0],
    'Hannover': [0, 0, 0, 0],
    'Hansa Rostock': [0, 0, 0, 0],
    'Hertha': [0, 0, 0, 0],
    'Hoffenheim': [0, 0, 0, 0],
    'Ingolstadt': [0, 0, 0, 0],
    'Kaiserslautern': [0, 0, 0, 0],
    'Karlsruhe': [0, 0, 0, 0],
    'Leverkusen': [0, 0, 0, 0],
    'Mainz': [0, 0, 0, 0],
    'M\'gladbach': [0, 0, 0, 0],
    'Nurnberg': [0, 0, 0, 0],
    'Paderborn': [0, 0, 0, 0],
    'RB Leipzig': [0, 0, 0, 0],
    'Schalke 04': [0, 0, 0, 0],
    'St Pauli': [0, 0, 0, 0],
    'Stuttgart': [0, 0, 0, 0],
    'Union Berlin': [0, 0, 0, 0],
    'Werder Bremen': [0, 0, 0, 0],
    'Wolfsburg': [0, 0, 0, 0]
}

hometeam = data_1.HomeTeam[300]
homeelo = teams_elo_avstaerke[hometeam][0]
print(homeelo)
'''
awayteam = data_1.HomeTeam
awayelo = teams_elo_avstaerke[hometeam][0]'''

'''for i in teams_elo_avstaerke:
    print(list(teams_elo_avstaerke.items())[0][1][0])'''

0

'for i in teams_elo_avstaerke:\n    print(list(teams_elo_avstaerke.items())[0][1][0])'

In [11]:
hometeam = data_1.HomeTeam[0]
homeelo = teams_elo_avstaerke[hometeam][0]

awayteam = data_1.AwayTeam[0]
awayelo = teams_elo_avstaerke[hometeam][0]

def diffelo(homeelo, awayelo):
    # homeadvantage = 1
    diffelo = homeelo - awayelo
    return diffelo

diffelo(homeelo, awayelo)

0

In [12]:
def outcomeexpected():
    elodiff = diffelo(homeelo, awayelo)
    outcomeexpected = 1 / (1 + 10 ** (-elodiff / 400))
    return outcomeexpected

outcomeexpected()

0.5

In [13]:
def outcometrue():
    if data_1.FTR[0] == "H":
        outcometrue = 1
    elif data_1.FTR[0] == "D":
        outcometrue = 0.5
    else:
        outcometrue = 0
    return outcometrue

outcometrue()

1

In [14]:
def marginofvictory(homeelo, awayelo):
    elodiff = diffelo(homeelo, awayelo)
    diffgoal = data_1.FTHG[0] - data_1.FTAG[0]

    if diffgoal <= 1:
        marginofvictory = 1
    else:
        marginofvictory = (math.log2(1.7 * diffgoal) * 2) / (2 + 0.001 * elodiff)
    return marginofvictory
    
marginofvictory(homeelo, awayelo)

1.765534746362977

In [15]:
def elogain(homeelo, awayelo):
    trueoutcome = outcometrue()
    expectedoutcome = outcomeexpected()
    ofvictorymargin = marginofvictory(homeelo, awayelo)

    elogain = 20 * (trueoutcome - expectedoutcome) * ofvictorymargin
    elohome = homeelo + elogain
    eloaway = awayelo - elogain
    return elohome, eloaway

elogain(homeelo, awayelo)

(17.65534746362977, -17.65534746362977)

In [16]:
def elogain_2(z, hometeam, awayteam):
    homeelo = teams_elo_avstaerke[hometeam][0]
    awayelo = teams_elo_avstaerke[awayteam][0]

    trueoutcome = outcometrue_2(z)
    expectedoutcome = outcomeexpected_2(z, homeelo, awayelo)
    ofvictorymargin = marginofvictory_2(z, homeelo, awayelo)

    elogain = 20 * (trueoutcome - expectedoutcome) * ofvictorymargin
    elohome = homeelo + elogain
    eloaway = awayelo - elogain

    teams_elo_avstaerke[hometeam][0] = elohome
    teams_elo_avstaerke[awayteam][1] = eloaway

    return elohome, eloaway, homeelo, awayelo


def marginofvictory_2(z, homeelo, awayelo):
    elodiff = diffelo(homeelo, awayelo)
    diffgoal = data_1.FTHG[z] - data_1.FTAG[z]

    if diffgoal <= 1:
        marginofvictory = 1
    else:
        marginofvictory = (math.log2(1.7 * diffgoal) * 2) / (2 +
                                                             0.001 * elodiff)
    return marginofvictory


def outcometrue_2(z):
    if data_1.FTR[z] == "H":
        outcometrue = 1
    elif data_1.FTR[z] == "D":
        outcometrue = 0.5
    else:
        outcometrue = 0
    return outcometrue


def outcomeexpected_2(z, homeelo, awayelo):
    elodiff = diffelo(homeelo, awayelo)
    outcomeexpected = 1 / (1 + 10**(-elodiff / 400))
    return outcomeexpected

In [17]:
alpha = 1
ratio = 0.75

# attack = attack + ((goalsshot - attack) * ratio + (goalsshot + otherteamdefend) * (1-ratio)) * alpha
# defend = defend - ((goalsgot + defend) * ratio + (goalsgot - otherteamattack) * (1-ratio)) * alpha

In [18]:
def home_attack(z, alpha, ratio, hometeam, awayteam):
    goalsshot = data_2.FTHG[z]
    attack_old = teams_elo_avstaerke[hometeam][2]
    otherteamdefend = teams_elo_avstaerke[awayteam][3]
    homeattack = attack_old + ((goalsshot - attack_old) * ratio + (goalsshot + otherteamdefend) * (1-ratio)) * alpha
    teams_elo_avstaerke[hometeam][2] = homeattack
    return homeattack, attack_old

def home_defend(z, alpha, ratio, hometeam, awayteam):
    goalsgot = data_2.FTAG[z]
    defend_old = teams_elo_avstaerke[hometeam][3]
    otherteamattack = teams_elo_avstaerke[awayteam][2]
    homedefend = defend_old - ((goalsgot + defend_old) * ratio + (goalsgot - otherteamattack) * (1-ratio)) * alpha
    teams_elo_avstaerke[hometeam][3] = homedefend
    return homedefend, defend_old

In [19]:
# test1 = home_attack(alpha, ratio)
# test2 = home_defend(alpha, ratio)

# print(test1)
# print(test2)

In [20]:
def away_attack(z, alpha, ratio, hometeam , awayteam):
    goalsshot = data_2.FTAG[z]
    attack_old = teams_elo_avstaerke[hometeam][2]
    otherteamdefend = teams_elo_avstaerke[awayteam][3]
    awayattack = attack_old + ((goalsshot - attack_old) * ratio + (goalsshot + otherteamdefend) * (1-ratio)) * alpha
    teams_elo_avstaerke[awayteam][2] = awayattack
    return awayattack, attack_old

def away_defend(z, alpha, ratio,hometeam, awayteam):
    goalsgot = data_2.FTHG[z]
    defend_old = teams_elo_avstaerke[awayteam][3]
    otherteamattack = teams_elo_avstaerke[hometeam][2]
    awaydefend = defend_old - ((goalsgot + defend_old) * ratio + (goalsgot - otherteamattack) * (1-ratio)) * alpha
    teams_elo_avstaerke[awayteam][3] = awaydefend
    return awaydefend, defend_old

In [21]:
# test1 = away_attack(alpha, ratio)
# test2 = away_defend(alpha, ratio)

# print(test1)
# print(test2)

In [22]:
z = 0
while z < len(data_1):
    alpha=1.0
    ratio=0.75
    hometeam = data_2.HomeTeam[z]
    awayteam = data_2.AwayTeam[z]

    homeelo, awayelo, homeeloold, awayeloold = elogain_2(z, hometeam, awayteam)
    homeattack1, homeattackold = home_attack(z, alpha, ratio, hometeam,
                                             awayteam)
    homedefend1, homedefendold = home_defend(z, alpha, ratio, hometeam, awayteam)
    awayattack1, awayattackold = away_attack(z, alpha, ratio, hometeam, awayteam)
    awaydefend1, awaydefendold = away_defend(z, alpha, ratio, hometeam,
                                             awayteam)



    data_2['HomeElo'][z] = homeelo
    data_2['AwayElo'][z] = awayelo
    data_2['HomeAttack'][z] = homeattack1
    data_2['HomeDefend'][z] = homedefend1
    data_2['AwayAttack'][z] = awayattack1
    data_2['AwayDefend'][z] = awaydefend1
    data_2['HomeEloOld'][z] = homeeloold
    data_2['AwayEloOld'][z] = awayeloold
    data_2['HomeAttackOld'][z] = homeattackold
    data_2['HomeDefendOld'][z] = homedefendold
    data_2['AwayAttackOld'][z] = awayattackold
    data_2['AwayDefendOld'][z] = awaydefendold

    z+=1

C:\Users\Phili\AppData\Local\Temp/ipykernel_5576/919898521.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2['HomeElo'][z] = homeelo
C:\Users\Phili\AppData\Local\Temp/ipykernel_5576/919898521.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2['AwayElo'][z] = awayelo
C:\Users\Phili\AppData\Local\Temp/ipykernel_5576/919898521.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2['HomeAttack'][z] = homeattack1
C:\Users\Phili\AppData\Local\Temp/ipykernel_5576/919898521.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2['HomeDefend'][z] = homedefend1
C:\Users\Phili\AppData\Local\Temp/ipykernel_5576/919898521.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2['AwayAttack'][z] = awayattack1
C:\Users\Phili\AppData\Local\Temp/ipykernel_5576/919898521.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2['AwayDefend'][z] = awaydefend1
C:\Users\Phili\AppData\Local\Temp/ipykernel_5576/919898521.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2['HomeEloOld'][z] = homeeloold
C:\Users\Phili\AppData\Local\Temp/ipykernel_5576/919898521.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2['AwayEloOld'][z] = awayeloold
C:\Users\Phili\AppData\Local\Temp/ipykernel_5576/919898521.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2['HomeAttackOld'][z] = homeattackold
C:\Users\Phili\AppData\Local\Temp/ipykernel_5576/919898521.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2['HomeDefendOld'][z] = homedefendold
C:\Users\Phili\AppData\Local\Temp/ipykernel_5576/919898521.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2['AwayAttackOld'][z] = awayattackold
C:\Users\Phili\AppData\Local\Temp/ipykernel_5576/919898521.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2['AwayDefendOld'][z] = awaydefendold

In [23]:
data_2

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,HomeAttack,HomeDefend,AwayAttack,AwayDefend,HomeAttackOld,HomeDefendOld,AwayAttackOld,AwayDefendOld,HomeEloOld,AwayEloOld
0,11.08.2006,Bayern Munich,Dortmund,2,0,H,1,0,H,12,...,2,0,0,-1,0,0,2,0,0,0
1,12.08.2006,Hamburg,Bielefeld,1,1,D,0,1,A,26,...,1,-1,1,0,0,0,1,0,0,0
2,12.08.2006,Leverkusen,Aachen,3,0,H,2,0,H,20,...,3,0,0,-2,0,0,3,0,0,0
3,12.08.2006,Mainz,Bochum,2,1,H,1,0,H,11,...,2,-1,1,-1,0,0,2,0,0,0
4,12.08.2006,M'gladbach,Cottbus,2,0,H,0,0,D,13,...,2,0,0,-1,0,0,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4891,14.05.2022,Mainz,Ein Frankfurt,2,2,D,1,2,A,13,...,2,-2,2,-1,1,-1,2,0,849,844
4892,14.05.2022,M'gladbach,Hoffenheim,5,1,H,3,1,H,19,...,4,0,0,-5,0,-1,4,-4,877,855
4893,14.05.2022,Stuttgart,FC Koln,2,1,H,1,0,H,24,...,2,-1,1,-1,2,-1,2,-1,734,762
4894,14.05.2022,Union Berlin,Bochum,3,2,H,2,0,H,17,...,3,-1,2,-2,4,0,3,-1,746,389
4895,14.05.2022,Wolfsburg,Bayern Munich,2,2,D,1,2,A,10,...,1,-1,1,-2,0,0,1,-2,825,1118

In [24]:
print(teams_elo_avstaerke)

{'Aachen': [-0.7925661985226218, -26.459661927610146, 0.10271745868471749, -3.897282541315283], 'Augsburg': [779.7344353917406, 765.5512733229306, 1.3173507028878793, -2.0143143361746207], 'Bayern Munich': [1118.372385151334, 1111.496154555133, 1.8377902635477632, -2.162209736452237], 'Bielefeld': [372.06570534400515, 353.1732057467355, 1.250497834631286, -0.5293801127817885], 'Bochum': [389.6502415802654, 387.3746374350495, 2.5520847306272025, -2.4479152693727975], 'Braunschweig': [168.5822666594886, 163.6529519376669, 1.6169473681886304, -2.3830526318113696], 'Cottbus': [152.24997041615995, 115.38992543339901, 2.9443360387817923, 0.8193360387817923], 'Darmstadt': [256.81003436087525, 265.5688302486311, 2.0255125059727597, -1.9744874940272403], 'Dortmund': [1008.4489346961424, 1004.3538766155672, 2.1214385239035143, -1.2825379165261732], 'Duisburg': [-10.627307206242095, -24.07636592262272, 2.008098496663064, -3.991901503336936], 'Ein Frankfurt': [844.2656463424438, 844.412610495329, 2.424547479284521, -1.5754525207154788], 'FC Koln': [762.0036918711194, 751.2181823851278, 1.3417183817067384, -1.6582816182932614], 'Fortuna Dusseldorf': [526.2917948833255, 484.77099083566213, 0.42217956445819427, -2.5778204355418057], 'Freiburg': [852.8644658598141, 844.2186931303131, 0.35550894597291505, -2.644491054027085], 'Greuther Furth': [96.46377041123033, 96.07884584277039, 0.6337115586273582, -2.366288441372642], 'Hamburg': [595.8866490386865, 563.5129707386814, 1.9823919382474957, -0.9051989469148578], 'Hannover': [607.66165564514, 593.4112351833222, 1.549446135602895, -1.450553864397105], 'Hansa Rostock': [23.614953104902142, 35.72186934034749, 1.6162023114384398, -1.3837976885615602], 'Hertha': [774.1930821943187, 769.9909931352809, 1.1922211475316171, -1.8077788524683829], 'Hoffenheim': [855.5908354709342, 829.972950936137, 0.9567224852096246, -5.0432775147903754], 'Ingolstadt': [326.06180403401873, 324.2613389832932, 0.8914103590818536, -1.0065867528725119], 'Kaiserslautern': [169.43823890861307, 166.05331038821757, 0.06949924559059584, -2.930500754409404], 'Karlsruhe': [113.03501911188283, 85.86524255526012, 4.626168539943649, -0.31206388193135126], 'Leverkusen': [908.8517457426733, 909.1838318450109, 2.036585917126419, -0.870195142445649], 'Mainz': [849.2251074980312, 857.4648187859257, 2.3391222983805946, -2.0896073289854735], "M'gladbach": [903.2829551895244, 876.6785834016932, 4.1280832502090155, -0.60121403460175], 'Nurnberg': [479.1657130146006, 468.3159649103761, 0.9927064219051238, -5.007293578094876], 'Paderborn': [221.9497991062289, 221.272250994133, 1.9055200976453248, -3.094479902354675], 'RB Leipzig': [965.1223893009493, 955.7271253043915, 1.2294018037977335, -0.7705981962022665], 'Schalke 04': [688.872525247323, 677.6153442808683, -0.8904588396759723, -1.8904588396759723], 'St Pauli': [66.97141106947363, 61.68138380191688, -0.6642677356144409, -3.6642677356144406], 'Stuttgart': [745.4414662191169, 742.7584189861988, 2.3937869256333077, -1.1687130743666923], 'Union Berlin': [748.5157356264309, 759.5615304308348, 3.6808478114893814, -1.5339959385106186], 'Werder Bremen': [666.8163092162199, 655.9460035227156, 1.432201785571752, -4.089042263500513], 'Wolfsburg': [832.2100221071112, 833.7667439769971, 1.6521778536605618, -1.402337155946666]}

In [25]:
teams_test = {
    'Aachen': [0, 0, 0, 0],
    'Augsburg': [0, 0, 0, 0],
    'Bayern Munich': [0, 0, 0, 0],
    'Bielefeld': [0, 0, 0, 0],
    'Bochum': [0, 0, 0, 0],
    'Braunschweig': [0, 0, 0, 0],
    'Cottbus': [0, 0, 0, 0],
    'Darmstadt': [0, 0, 0, 0],
    'Dortmund': [0, 0, 0, 0],
    'Duisburg': [0, 0, 0, 0],
    'Ein Frankfurt': [0, 0, 0, 0],
    'FC Koln': [0, 0, 0, 0],
    'Fortuna Dusseldorf': [0, 0, 0, 0],
    'Freiburg': [0, 0, 0, 0],
    'Greuther Furth': [0, 0, 0, 0],
    'Hamburg': [0, 0, 0, 0],
    'Hannover': [0, 0, 0, 0],
    'Hansa Rostock': [0, 0, 0, 0],
    'Hertha': [0, 0, 0, 0],
    'Hoffenheim': [0, 0, 0, 0],
    'Ingolstadt': [0, 0, 0, 0],
    'Kaiserslautern': [0, 0, 0, 0],
    'Karlsruhe': [0, 0, 0, 0],
    'Leverkusen': [0, 0, 0, 0],
    'Mainz': [0, 0, 0, 0],
    'Nurnberg': [0, 0, 0, 0],
    'Paderborn': [0, 0, 0, 0],
    'RB Leipzig': [0, 0, 0, 0],
    'Schalke 04': [0, 0, 0, 0],
    'St Pauli': [0, 0, 0, 0],
    'Stuttgart': [0, 0, 0, 0],
    'Union Berlin': [0, 0, 0, 0],
    'Werder Bremen': [0, 0, 0, 0],
    'Wolfsburg': [0, 0, 0, 0]
}

In [26]:
for x in range(len(data_1)):
    zaehler = 0
    for team in teams_test.keys() :
        if team in data_1.loc[x,'HomeTeam']:
            zaehler += 1
            updated = {team: zaehler}
            teams_test.update(updated)

print(zaehler)
print(teams_test)

1
{'Aachen': 1, 'Augsburg': 1, 'Bayern Munich': 1, 'Bielefeld': 1, 'Bochum': 1, 'Braunschweig': 1, 'Cottbus': 1, 'Darmstadt': 1, 'Dortmund': 1, 'Duisburg': 1, 'Ein Frankfurt': 1, 'FC Koln': 1, 'Fortuna Dusseldorf': 1, 'Freiburg': 1, 'Greuther Furth': 1, 'Hamburg': 1, 'Hannover': 1, 'Hansa Rostock': 1, 'Hertha': 1, 'Hoffenheim': 1, 'Ingolstadt': 1, 'Kaiserslautern': 1, 'Karlsruhe': 1, 'Leverkusen': 1, 'Mainz': 1, 'Nurnberg': 1, 'Paderborn': 1, 'RB Leipzig': 1, 'Schalke 04': 1, 'St Pauli': 1, 'Stuttgart': 1, 'Union Berlin': 1, 'Werder Bremen': 1, 'Wolfsburg': 1}

In [27]:
aggregated = data_1.groupby(by='HomeTeam').sum()

for team in teams_test.keys():
    zaehler_home = 0
    zaehler_away = 0
    goals_home = aggregated['FTHG'][team]
    goals_away = aggregated['FTAG'][team]
    for x in range(len(data_1)):
        if team in data_1.loc[x, 'HomeTeam']:
            zaehler_home += 1
        if team in data_1.loc[x, 'AwayTeam']:
            zaehler_away += 1

        updated = {team: [zaehler_home, zaehler_away, goals_home, goals_away]}
        teams_test.update(updated)

print(teams_test)

{'Aachen': [17, 17, 28, 37], 'Augsburg': [187, 187, 266, 273], 'Bayern Munich': [272, 272, 777, 207], 'Bielefeld': [85, 85, 94, 114], 'Bochum': [85, 85, 117, 138], 'Braunschweig': [17, 17, 18, 24], 'Cottbus': [51, 51, 65, 69], 'Darmstadt': [34, 34, 33, 54], 'Dortmund': [272, 272, 617, 276], 'Duisburg': [17, 17, 19, 29], 'Ein Frankfurt': [255, 255, 396, 357], 'FC Koln': [187, 187, 240, 265], 'Fortuna Dusseldorf': [51, 51, 69, 84], 'Freiburg': [204, 204, 293, 273], 'Greuther Furth': [34, 34, 25, 69], 'Hamburg': [204, 204, 268, 245], 'Hannover': [204, 204, 316, 297], 'Hansa Rostock': [17, 17, 17, 21], 'Hertha': [238, 238, 314, 337], 'Hoffenheim': [238, 238, 415, 323], 'Ingolstadt': [34, 34, 43, 48], 'Kaiserslautern': [34, 34, 37, 47], 'Karlsruhe': [34, 34, 41, 44], 'Leverkusen': [272, 272, 523, 328], 'Mainz': [238, 238, 341, 292], 'Nurnberg': [136, 136, 171, 174], 'Paderborn': [34, 34, 42, 77], 'RB Leipzig': [102, 102, 213, 102], 'Schalke 04': [255, 255, 417, 281], 'St Pauli': [17, 17, 21, 35], 'Stuttgart': [238, 238, 383, 321], 'Union Berlin': [51, 51, 81, 55], 'Werder Bremen': [255, 255, 425, 371], 'Wolfsburg': [272, 272, 474, 354]}

In [28]:
# elo_api = {
#     'Bayern Munich': 195421130371,
#     'RB Leipzig': 180803869629,
#     ' Dortmund': 179639416504,
#     'Leverkusen': 179144921875,
#     'Frankfurt': 173395397949,
#     'Union Berlin': 172752734375,
#     'Freiburg': 171513647461,
#     'Gladbach': 170800561523,
#     'Wolfsburg': 167846154785,
#     'Mainz': 167658898926,
#     'Koeln': 167578808594,
#     'Hoffenheim': 166018737793,
#     'Stuttgart': 161728076172,
#     'Augsburg': 161279321289,
#     'Bochum': 160994140625,
#     'Hertha': 160994140625,
#     'Bielefeld': 157295336914,
#     'Fuerth': 15066628418
# }

In [29]:
# data_1['FTHG']= data_1['FTHG'].map(str)
# data_1['FTAG'] = data_1['FTAG'].map(str)
# data_1['HTHG']= data_1['HTHG'].map(str)
# data_1['HTAG'] = data_1['HTAG'].map(str)
# data_1['HS'] = data_1['HS'].map(str)
# data_1['AS'] = data_1['AS'].map(str)
# data_1['HST'] = data_1['HST'].map(str)
# data_1['AST'] = data_1['AST'].map(str)
# data_1['HF']= data_1['HF'].map(str)
# data_1['AF'] = data_1['AF'].map(str)
# data_1['HC'] = data_1['HC'].map(str)
# data_1['AC'] = data_1['AC'].map(str)
# data_1['HY'] = data_1['HY'].map(str)
# data_1['AY'] = data_1['AY'].map(str)
# data_1['HR'] = data_1['HR'].map(str)
# data_1['AR'] = data_1['AR'].map(str)

In [30]:
# data_1.dtypes

In [31]:
# data_1['FTHG'] = data_1['FTHG'].str[:-1]
# data_1['FTAG'] = data_1['FTAG'].str[:-1]
# data_1['HTHG'] = data_1['HTHG'].str[:-1]
# data_1['HTAG'] = data_1['HTAG'].str[:-1]
# data_1['HS'] = data_1['HS'].str[:-1]
# data_1['AS'] = data_1['AS'].str[:-1]
# data_1['HST'] = data_1['HST'].str[:-1]
# data_1['AST'] = data_1['AST'].str[:-1]
# data_1['HF'] = data_1['HF'].str[:-1]
# data_1['AF'] = data_1['AF'].str[:-1]
# data_1['HC'] = data_1['HC'].str[:-1]
# data_1['AC'] = data_1['AC'].str[:-1]
# data_1['HY'] = data_1['HY'].str[:-1]
# data_1['AY'] = data_1['AY'].str[:-1]
# data_1['HR'] = data_1['HR'].str[:-1]
# data_1['AR'] = data_1['AR'].str[:-1]

In [32]:
data_1.to_csv("../Modelltraining/preprocessed_dataframe_with_elo_1.csv")
data_1.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,HomeAttack,HomeDefend,AwayAttack,AwayDefend,HomeAttackOld,HomeDefendOld,AwayAttackOld,AwayDefendOld,HomeEloOld,AwayEloOld
0,11.08.2006,Bayern Munich,Dortmund,2,0,H,1,0,H,12,...,2,0,0,-1,0,0,2,0,0,0
1,12.08.2006,Hamburg,Bielefeld,1,1,D,0,1,A,26,...,1,-1,1,0,0,0,1,0,0,0
2,12.08.2006,Leverkusen,Aachen,3,0,H,2,0,H,20,...,3,0,0,-2,0,0,3,0,0,0
3,12.08.2006,Mainz,Bochum,2,1,H,1,0,H,11,...,2,-1,1,-1,0,0,2,0,0,0
4,12.08.2006,M'gladbach,Cottbus,2,0,H,0,0,D,13,...,2,0,0,-1,0,0,2,0,0,0

In [33]:
data_1.tail(n=50)

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,HomeAttack,HomeDefend,AwayAttack,AwayDefend,HomeAttackOld,HomeDefendOld,AwayAttackOld,AwayDefendOld,HomeEloOld,AwayEloOld
4846,09.04.2022,Wolfsburg,Bielefeld,4,0,H,2,0,H,11,...,3,0,0,-3,0,-2,3,-1,788,354
4847,09.04.2022,Hertha,Union Berlin,1,4,A,0,1,A,12,...,1,-4,4,0,1,-1,1,0,777,731
4848,10.04.2022,Bochum,Leverkusen,0,0,D,0,0,D,11,...,0,0,0,0,1,-1,0,0,372,892
4849,10.04.2022,Ein Frankfurt,Freiburg,1,2,A,0,1,A,17,...,0,-1,1,-1,0,0,0,-3,851,864
4850,10.04.2022,RB Leipzig,Hoffenheim,3,0,H,3,0,H,11,...,3,0,0,-2,4,0,3,-2,948,884
4851,16.04.2022,Augsburg,Hertha,0,1,A,0,0,D,13,...,0,0,0,-1,0,0,0,-4,800,766
4852,16.04.2022,Dortmund,Wolfsburg,6,1,H,5,0,H,12,...,6,0,2,-4,0,-1,6,0,1011,792
4853,16.04.2022,Freiburg,Bochum,3,0,H,2,0,H,14,...,3,0,0,-2,1,-1,3,0,864,381
4854,16.04.2022,Mainz,Stuttgart,0,0,D,0,0,D,9,...,0,0,0,0,2,-2,0,-1,815,732
4855,16.04.2022,M'gladbach,FC Koln,1,3,A,0,3,A,18,...,1,-2,2,-1,1,0,1,-1,866,767
4856,17.04.2022,Bielefeld,Bayern Munich,0,3,A,0,2,A,8,...,0,-3,3,0,0,-3,0,0,354,1113
4857,17.04.2022,Hoffenheim,Greuther Furth,0,0,D,0,0,D,16,...,0,0,0,0,0,-2,0,-1,884,96
4858,17.04.2022,Union Berlin,Ein Frankfurt,2,0,H,2,0,H,14,...,2,0,0,-1,4,0,2,-1,731,842
4859,17.04.2022,Leverkusen,RB Leipzig,0,1,A,0,0,D,12,...,0,0,1,0,0,0,0,0,892,966
4860,22.04.2022,Wolfsburg,Mainz,5,0,H,5,0,H,15,...,5,-1,1,-3,2,-4,5,0,792,813
4861,23.04.2022,Ein Frankfurt,Hoffenheim,2,2,D,1,1,D,17,...,1,-2,2,-1,0,-1,1,0,842,874
4862,23.04.2022,FC Koln,Bielefeld,3,1,H,2,1,H,19,...,2,-1,0,-3,2,-1,2,-3,767,354
4863,23.04.2022,Freiburg,M'gladbach,3,3,D,0,2,A,19,...,3,-2,3,-2,3,0,3,-2,866,854
4864,23.04.2022,Greuther Furth,Leverkusen,1,4,A,1,2,A,9,...,0,-4,4,0,0,0,0,0,96,884
4865,23.04.2022,RB Leipzig,Union Berlin,1,2,A,0,0,D,5,...,1,-1,2,0,1,0,1,0,966,755
4866,23.04.2022,Bayern Munich,Dortmund,3,1,H,2,0,H,13,...,3,0,1,-2,3,0,3,0,1113,1023
4867,24.04.2022,Bochum,Augsburg,0,2,A,0,2,A,18,...,0,-2,1,0,0,-2,0,0,381,789
4868,24.04.2022,Hertha,Stuttgart,2,0,H,1,0,H,7,...,1,0,0,-1,0,-1,1,0,766,732
4869,29.04.2022,Union Berlin,Greuther Furth,1,1,D,0,1,A,6,...,0,0,0,-1,2,0,0,-4,755,96
4870,30.04.2022,Augsburg,FC Koln,1,4,A,0,2,A,14,...,1,-3,3,-1,1,0,1,-1,789,770
4871,30.04.2022,Bielefeld,Hertha,1,1,D,0,0,D,6,...,1,-1,1,0,0,-3,1,0,354,782
4872,30.04.2022,Dortmund,Bochum,3,4,A,2,2,D,19,...,2,-4,4,-2,1,-2,2,-2,1023,380
4873,30.04.2022,Mainz,Bayern Munich,3,1,H,2,1,H,24,...,3,-1,1,-2,1,-3,3,0,813,1126
4874,30.04.2022,Stuttgart,Wolfsburg,1,1,D,0,1,A,18,...,0,0,0,-1,0,-1,0,-1,732,825
4875,30.04.2022,Hoffenheim,Freiburg,3,4,A,1,1,D,17,...,2,-3,4,-2,2,-1,2,-2,874,866
4876,02.05.2022,Leverkusen,Ein Frankfurt,2,0,H,1,0,H,11,...,2,0,0,-2,4,0,2,-2,884,843
4877,02.05.2022,M'gladbach,RB Leipzig,3,1,H,2,1,H,9,...,3,-1,1,-2,3,-2,3,-1,854,951
4878,06.05.2022,Bochum,Bielefeld,2,1,H,1,1,D,16,...,2,-1,1,-1,4,-2,2,-1,380,362
4879,07.05.2022,FC Koln,Wolfsburg,0,1,A,0,1,A,17,...,0,-1,0,0,3,-1,0,-1,770,825
4880,07.05.2022,Freiburg,Union Berlin,1,4,A,0,3,A,18,...,1,-4,4,0,4,-2,1,0,866,746
4881,07.05.2022,Greuther Furth,Dortmund,1,3,A,0,1,A,8,...,0,-2,1,-2,0,-1,0,-4,96,1004
4882,07.05.2022,Hoffenheim,Leverkusen,2,4,A,2,1,H,12,...,2,-4,4,-1,2,-3,2,0,864,900
4883,07.05.2022,Hertha,Mainz,1,2,A,1,1,D,10,...,1,-1,1,-1,1,0,1,-1,782,849
4884,08.05.2022,Ein Frankfurt,M'gladbach,1,1,D,0,1,A,18,...,0,0,0,-1,0,-2,0,-1,843,877
4885,08.05.2022,Bayern Munich,Stuttgart,2,2,D,2,1,H,25,...,2,-2,2,-1,1,-2,2,0,1126,734
4886,08.05.2022,RB Leipzig,Augsburg,4,0,H,1,0,H,14,...,3,0,0,-3,1,-2,3,-3,951,779
4887,14.05.2022,Augsburg,Greuther Furth,2,1,H,1,1,D,8,...,1,-2,0,-2,0,-3,1,-2,779,96
4888,14.05.2022,Bielefeld,RB Leipzig,1,1,D,0,0,D,8,...,1,0,1,0,1,-1,1,0,362,965
4889,14.05.2022,Dortmund,Hertha,2,1,H,0,1,A,9,...,2,-1,1,-1,1,-2,2,-1,1004,774
4890,14.05.2022,Leverkusen,Freiburg,2,1,H,0,0,D,11,...,2,0,0,-2,4,-1,2,-4,900,852
4891,14.05.2022,Mainz,Ein Frankfurt,2,2,D,1,2,A,13,...,2,-2,2,-1,1,-1,2,0,849,844
4892,14.05.2022,M'gladbach,Hoffenheim,5,1,H,3,1,H,19,...,4,0,0,-5,0,-1,4,-4,877,855
4893,14.05.2022,Stuttgart,FC Koln,2,1,H,1,0,H,24,...,2,-1,1,-1,2,-1,2,-1,734,762
4894,14.05.2022,Union Berlin,Bochum,3,2,H,2,0,H,17,...,3,-1,2,-2,4,0,3,-1,746,389
4895,14.05.2022,Wolfsburg,Bayern Munich,2,2,D,1,2,A,10,...,1,-1,1,-2,0,0,1,-2,825,1118