In [1]:
import pandas as pd
import numpy as np
import math
import csv

In [2]:
data = pd.read_csv('cumulated_data_bl1_v2.csv', delimiter=';')
data.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,11.08.2006,Bayern Munich,Dortmund,20,0,H,10,0,H,120,...,90,70,140,200,40,40,10,20,0,0
1,12.08.2006,Hamburg,Bielefeld,10,10,D,0,10,A,260,...,190,50,290,220,110,20,30,20,0,0
2,12.08.2006,Leverkusen,Aachen,30,0,H,20,0,H,200,...,110,50,220,80,50,10,30,0,10,10
3,12.08.2006,Mainz,Bochum,20,10,H,10,0,H,110,...,50,90,170,150,10,80,20,30,0,0
4,12.08.2006,M'gladbach,Cottbus,20,0,H,0,0,D,130,...,80,70,110,240,30,50,0,40,0,10

In [3]:
# data_1 = data.sort_values(by=['Date'], ascending=True)
data_1 = data
data_1

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,11.08.2006,Bayern Munich,Dortmund,20,0,H,10,0,H,120,...,90,70,140,200,40,40,10,20,0,0
1,12.08.2006,Hamburg,Bielefeld,10,10,D,0,10,A,260,...,190,50,290,220,110,20,30,20,0,0
2,12.08.2006,Leverkusen,Aachen,30,0,H,20,0,H,200,...,110,50,220,80,50,10,30,0,10,10
3,12.08.2006,Mainz,Bochum,20,10,H,10,0,H,110,...,50,90,170,150,10,80,20,30,0,0
4,12.08.2006,M'gladbach,Cottbus,20,0,H,0,0,D,130,...,80,70,110,240,30,50,0,40,0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4891,14.05.2022,Mainz,Ein Frankfurt,20,20,D,10,20,A,130,...,40,40,70,110,50,30,20,0,0,0
4892,14.05.2022,M'gladbach,Hoffenheim,50,10,H,30,10,H,190,...,90,20,80,120,60,20,10,20,0,0
4893,14.05.2022,Stuttgart,FC Koln,20,10,H,10,0,H,240,...,120,30,150,100,80,100,10,40,0,0
4894,14.05.2022,Union Berlin,Bochum,30,20,H,20,0,H,170,...,110,30,120,70,10,30,30,20,0,0
4895,14.05.2022,Wolfsburg,Bayern Munich,20,20,D,10,20,A,100,...,20,100,50,100,20,120,10,20,0,0

In [4]:
teams = []
for x in data_1['HomeTeam']:
    if x not in teams:
        teams.append(x)

# teams

In [5]:
format = ['FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG', 'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR']
for f in format:
    z = 0
    for x in data_1[f]:
        x = str(x)
        # print(len(x))
        if len(x) >= 2:
            # print(data_1[f][z])
            data_1[f][z] = x[:-1]
            # print(x)
        z+=1
data_1

C:\Users\I539022\AppData\Local\Temp/ipykernel_32556/403952435.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_1[f][z] = x[:-1]

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,11.08.2006,Bayern Munich,Dortmund,2,0,H,1,0,H,12,...,9,7,14,20,4,4,1,2,0,0
1,12.08.2006,Hamburg,Bielefeld,1,1,D,0,1,A,26,...,19,5,29,22,11,2,3,2,0,0
2,12.08.2006,Leverkusen,Aachen,3,0,H,2,0,H,20,...,11,5,22,8,5,1,3,0,1,1
3,12.08.2006,Mainz,Bochum,2,1,H,1,0,H,11,...,5,9,17,15,1,8,2,3,0,0
4,12.08.2006,M'gladbach,Cottbus,2,0,H,0,0,D,13,...,8,7,11,24,3,5,0,4,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4891,14.05.2022,Mainz,Ein Frankfurt,2,2,D,1,2,A,13,...,4,4,7,11,5,3,2,0,0,0
4892,14.05.2022,M'gladbach,Hoffenheim,5,1,H,3,1,H,19,...,9,2,8,12,6,2,1,2,0,0
4893,14.05.2022,Stuttgart,FC Koln,2,1,H,1,0,H,24,...,12,3,15,10,8,10,1,4,0,0
4894,14.05.2022,Union Berlin,Bochum,3,2,H,2,0,H,17,...,11,3,12,7,1,3,3,2,0,0
4895,14.05.2022,Wolfsburg,Bayern Munich,2,2,D,1,2,A,10,...,2,10,5,10,2,12,1,2,0,0

In [6]:
data_1.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,11.08.2006,Bayern Munich,Dortmund,2,0,H,1,0,H,12,...,9,7,14,20,4,4,1,2,0,0
1,12.08.2006,Hamburg,Bielefeld,1,1,D,0,1,A,26,...,19,5,29,22,11,2,3,2,0,0
2,12.08.2006,Leverkusen,Aachen,3,0,H,2,0,H,20,...,11,5,22,8,5,1,3,0,1,1
3,12.08.2006,Mainz,Bochum,2,1,H,1,0,H,11,...,5,9,17,15,1,8,2,3,0,0
4,12.08.2006,M'gladbach,Cottbus,2,0,H,0,0,D,13,...,8,7,11,24,3,5,0,4,0,1

In [8]:
'''
elohome = 0
eloaway = 0
homeadvantage = 1

diffelo = elohome - eloaway + homeadvantage

outcomeexpected = 1/(1+10^(-diffelo/400))

if data_1.FTR == "H":
    outcometrue = 1
elif data_1.FTR == "D":
    outcometrue = 0.5
else:
    outcometrue = 0

diffgoal = int(data_1.FTHG - data_1.FTAG)

if diffgoal <= 1:
    marginofvictory = 1
else:
    marginofvictory = (math.log2(1.7*diffgoal)*2)/(2+0.001*diffelo)

elogain = 20 * (outcometrue - outcomeexpected) * marginofvictory

elohome = elohome + elogain
eloaway = eloaway - elogain
'''

'\nelohome = 0\neloaway = 0\nhomeadvantage = 1\n\ndiffelo = elohome - eloaway + homeadvantage\n\noutcomeexpected = 1/(1+10^(-diffelo/400))\n\nif data_1.FTR == "H":\n    outcometrue = 1\nelif data_1.FTR == "D":\n    outcometrue = 0.5\nelse:\n    outcometrue = 0\n\ndiffgoal = int(data_1.FTHG - data_1.FTAG)\n\nif diffgoal <= 1:\n    marginofvictory = 1\nelse:\n    marginofvictory = (math.log2(1.7*diffgoal)*2)/(2+0.001*diffelo)\n\nelogain = 20 * (outcometrue - outcomeexpected) * marginofvictory\n\nelohome = elohome + elogain\neloaway = eloaway - elogain\n'

In [9]:
teams_elo_avstaerke = {
    'Aachen': [0, 0, 0],
    'Augsburg': [0, 0, 0],
    'Bayern Munich': [0, 0, 0],
    'Bielefeld': [0, 0, 0],
    'Bochum': [0, 0, 0],
    'Braunschweig': [0, 0, 0],
    'Cottbus': [0, 0, 0],
    'Darmstadt': [0, 0, 0],
    'Dortmund': [0, 0, 0],
    'Duisburg': [0, 0, 0],
    'Ein Frankfurt': [0, 0, 0],
    'FC Koln': [0, 0, 0],
    'Fortuna Dusseldorf': [0, 0, 0],
    'Freiburg': [0, 0, 0],
    'Greuther Furth': [0, 0, 0],
    'Hamburg': [0, 0, 0],
    'Hannover': [0, 0, 0],
    'Hansa Rostock': [0, 0, 0],
    'Hertha': [0, 0, 0],
    'Hoffenheim': [0, 0, 0],
    'Ingolstadt': [0, 0, 0],
    'Kaiserslautern': [0, 0, 0],
    'Karlsruhe': [0, 0, 0],
    'Leverkusen': [0, 0, 0],
    'Mainz': [0, 0, 0],
    'Nurnberg': [0, 0, 0],
    'Paderborn': [0, 0, 0],
    'RB Leipzig': [0, 0, 0],
    'Schalke 04': [0, 0, 0],
    'St Pauli': [0, 0, 0],
    'Stuttgart': [0, 0, 0],
    'Union Berlin': [0, 0, 0],
    'Werder Bremen': [0, 0, 0],
    'Wolfsburg': [0, 0, 0]
}

hometeam = data_1.HomeTeam[300]
homeelo = teams_elo_avstaerke[hometeam][0]
print(homeelo)
'''
awayteam = data_1.HomeTeam
awayelo = teams_elo_avstaerke[hometeam][0]'''

'''for i in teams_elo_avstaerke:
    print(list(teams_elo_avstaerke.items())[0][1][0])'''

0

'for i in teams_elo_avstaerke:\n    print(list(teams_elo_avstaerke.items())[0][1][0])'

In [10]:
hometeam = data_1.HomeTeam[0]
homeelo = teams_elo_avstaerke[hometeam][0]

awayteam = data_1.AwayTeam[0]
awayelo = teams_elo_avstaerke[hometeam][0]

def diffelo(homeelo, awayelo):
    homeadvantage = 1
    diffelo = homeelo - awayelo + homeadvantage
    return diffelo

diffelo(homeelo, awayelo)

1

In [11]:
def outcomeexpected():
    elodiff = diffelo(homeelo, awayelo)
    outcomeexpected = 1 / (1 + 10 ** (-elodiff / 400))
    return outcomeexpected

outcomeexpected()

0.5014391117091528

In [12]:
def outcometrue():
    if data_1.FTR[0] == "H":
        outcometrue = 1
    elif data_1.FTR[0] == "D":
        outcometrue = 0.5
    else:
        outcometrue = 0
    return outcometrue

outcometrue()

1

In [13]:
def marginofvictory(homeelo, awayelo):
    elodiff = diffelo(homeelo, awayelo)
    diffgoal = data_1.FTHG[0] - data_1.FTAG[0]

    if diffgoal <= 1:
        marginofvictory = 1
    else:
        marginofvictory = (math.log2(1.7 * diffgoal) * 2) / (2 + 0.001 * elodiff)
    return marginofvictory
    
marginofvictory(homeelo, awayelo)

1.7646524201529006

In [14]:
def elogain(homeelo, awayelo):
    trueoutcome = outcometrue()
    expectedoutcome = outcomeexpected()
    ofvictorymargin = marginofvictory(homeelo, awayelo)

    elogain = 20 * (trueoutcome - expectedoutcome) * ofvictorymargin
    elohome = homeelo + elogain
    eloaway = awayelo - elogain
    return elohome, eloaway

elogain(homeelo, awayelo)

(17.595733562320472, -17.595733562320472)

In [15]:
alpha = 1
ratio = 0.75

# attack = attack + ((goalsshot - attack) * ratio + (goalsshot + otherteamdefend) * (1-ratio)) * alpha
# defend = defend - ((goalsgot + defend) * ratio + (goalsgot - otherteamattack) * (1-ratio)) * alpha

In [27]:
def home_attack(alpha, ratio):
    goalsshot = data_1.FTHG[0]
    attack_old = 0
    otherteamdefend = 0
    attack = attack_old + ((goalsshot - attack_old) * ratio + (goalsshot + otherteamdefend) * (1-ratio)) * alpha
    return attack

def home_defend(alpha, ratio):
    goalsgot = data_1.FTAG[0]
    defend_old = 0
    otherteamattack = 0
    defend = defend_old - ((goalsgot + defend_old) * ratio + (goalsgot - otherteamattack) * (1-ratio)) * alpha
    return defend

In [28]:
test1 = home_attack(alpha, ratio)
test2 = home_defend(alpha, ratio)

print(test1)
print(test2)

2.0
0.0

In [25]:
def away_attack(alpha, ratio):
    goalsshot = data_1.FTAG[0]
    attack_old = 0
    otherteamdefend = 0
    attack = attack_old + ((goalsshot - attack_old) * ratio + (goalsshot + otherteamdefend) * (1-ratio)) * alpha
    return attack

def away_defend(alpha, ratio):
    goalsgot = data_1.FTHG[0]
    defend_old = 0
    otherteamattack = 0
    defend = defend_old - ((goalsgot + defend_old) * ratio + (goalsgot - otherteamattack) * (1-ratio)) * alpha
    return defend

In [26]:
test1 = away_attack(alpha, ratio)
test2 = away_defend(alpha, ratio)

print(test1)
print(test2)

0.0
-2.0

In [ ]:
teams_test = {
    'Aachen': [0, 0, 0, 0],
    'Augsburg': [0, 0, 0, 0],
    'Bayern Munich': [0, 0, 0, 0],
    'Bielefeld': [0, 0, 0, 0],
    'Bochum': [0, 0, 0, 0],
    'Braunschweig': [0, 0, 0, 0],
    'Cottbus': [0, 0, 0, 0],
    'Darmstadt': [0, 0, 0, 0],
    'Dortmund': [0, 0, 0, 0],
    'Duisburg': [0, 0, 0, 0],
    'Ein Frankfurt': [0, 0, 0, 0],
    'FC Koln': [0, 0, 0, 0],
    'Fortuna Dusseldorf': [0, 0, 0, 0],
    'Freiburg': [0, 0, 0, 0],
    'Greuther Furth': [0, 0, 0, 0],
    'Hamburg': [0, 0, 0, 0],
    'Hannover': [0, 0, 0, 0],
    'Hansa Rostock': [0, 0, 0, 0],
    'Hertha': [0, 0, 0, 0],
    'Hoffenheim': [0, 0, 0, 0],
    'Ingolstadt': [0, 0, 0, 0],
    'Kaiserslautern': [0, 0, 0, 0],
    'Karlsruhe': [0, 0, 0, 0],
    'Leverkusen': [0, 0, 0, 0],
    'Mainz': [0, 0, 0, 0],
    'Nurnberg': [0, 0, 0, 0],
    'Paderborn': [0, 0, 0, 0],
    'RB Leipzig': [0, 0, 0, 0],
    'Schalke 04': [0, 0, 0, 0],
    'St Pauli': [0, 0, 0, 0],
    'Stuttgart': [0, 0, 0, 0],
    'Union Berlin': [0, 0, 0, 0],
    'Werder Bremen': [0, 0, 0, 0],
    'Wolfsburg': [0, 0, 0, 0]
}

In [ ]:
for x in range(len(data_1)):
    zaehler = 0
    for team in teams_test.keys() :
        if team in data_1.loc[x,'HomeTeam']:
            zaehler += 1
            updated = {team: zaehler}
            teams_test.update(updated)

print(zaehler)
print(teams_test)

1
{'Aachen': 1, 'Augsburg': 1, 'Bayern Munich': 1, 'Bielefeld': 1, 'Bochum': 1, 'Braunschweig': 1, 'Cottbus': 1, 'Darmstadt': 1, 'Dortmund': 1, 'Duisburg': 1, 'Ein Frankfurt': 1, 'FC Koln': 1, 'Fortuna Dusseldorf': 1, 'Freiburg': 1, 'Greuther Furth': 1, 'Hamburg': 1, 'Hannover': 1, 'Hansa Rostock': 1, 'Hertha': 1, 'Hoffenheim': 1, 'Ingolstadt': 1, 'Kaiserslautern': 1, 'Karlsruhe': 1, 'Leverkusen': 1, 'Mainz': 1, 'Nurnberg': 1, 'Paderborn': 1, 'RB Leipzig': 1, 'Schalke 04': 1, 'St Pauli': 1, 'Stuttgart': 1, 'Union Berlin': 1, 'Werder Bremen': 1, 'Wolfsburg': 1}

In [ ]:
aggregated = data_1.groupby(by='HomeTeam').sum()

for team in teams_test.keys():
    zaehler_home = 0
    zaehler_away = 0
    goals_home = aggregated['FTHG'][team]
    goals_away = aggregated['FTAG'][team]
    for x in range(len(data_1)):
        if team in data_1.loc[x, 'HomeTeam']:
            zaehler_home += 1
        if team in data_1.loc[x, 'AwayTeam']:
            zaehler_away += 1

        updated = {team: [zaehler_home, zaehler_away, goals_home, goals_away]}
        teams_test.update(updated)

print(teams_test)

{'Aachen': [17, 17, 28, 37], 'Augsburg': [187, 187, 266, 273], 'Bayern Munich': [272, 272, 777, 207], 'Bielefeld': [85, 85, 94, 114], 'Bochum': [85, 85, 117, 138], 'Braunschweig': [17, 17, 18, 24], 'Cottbus': [51, 51, 65, 69], 'Darmstadt': [34, 34, 33, 54], 'Dortmund': [272, 272, 617, 276], 'Duisburg': [17, 17, 19, 29], 'Ein Frankfurt': [255, 255, 396, 357], 'FC Koln': [187, 187, 240, 265], 'Fortuna Dusseldorf': [51, 51, 69, 84], 'Freiburg': [204, 204, 293, 273], 'Greuther Furth': [34, 34, 25, 69], 'Hamburg': [204, 204, 268, 245], 'Hannover': [204, 204, 316, 297], 'Hansa Rostock': [17, 17, 17, 21], 'Hertha': [238, 238, 314, 337], 'Hoffenheim': [238, 238, 415, 323], 'Ingolstadt': [34, 34, 43, 48], 'Kaiserslautern': [34, 34, 37, 47], 'Karlsruhe': [34, 34, 41, 44], 'Leverkusen': [272, 272, 523, 328], 'Mainz': [238, 238, 341, 292], 'Nurnberg': [136, 136, 171, 174], 'Paderborn': [34, 34, 42, 77], 'RB Leipzig': [102, 102, 213, 102], 'Schalke 04': [255, 255, 417, 281], 'St Pauli': [17, 17, 21, 35], 'Stuttgart': [238, 238, 383, 321], 'Union Berlin': [51, 51, 81, 55], 'Werder Bremen': [255, 255, 425, 371], 'Wolfsburg': [272, 272, 474, 354]}

In [ ]:
# elo_api = {
#     'Bayern Munich': 195421130371,
#     'RB Leipzig': 180803869629,
#     ' Dortmund': 179639416504,
#     'Leverkusen': 179144921875,
#     'Frankfurt': 173395397949,
#     'Union Berlin': 172752734375,
#     'Freiburg': 171513647461,
#     'Gladbach': 170800561523,
#     'Wolfsburg': 167846154785,
#     'Mainz': 167658898926,
#     'Koeln': 167578808594,
#     'Hoffenheim': 166018737793,
#     'Stuttgart': 161728076172,
#     'Augsburg': 161279321289,
#     'Bochum': 160994140625,
#     'Hertha': 160994140625,
#     'Bielefeld': 157295336914,
#     'Fuerth': 15066628418
# }

In [ ]:
# data_1['FTHG']= data_1['FTHG'].map(str)
# data_1['FTAG'] = data_1['FTAG'].map(str)
# data_1['HTHG']= data_1['HTHG'].map(str)
# data_1['HTAG'] = data_1['HTAG'].map(str)
# data_1['HS'] = data_1['HS'].map(str)
# data_1['AS'] = data_1['AS'].map(str)
# data_1['HST'] = data_1['HST'].map(str)
# data_1['AST'] = data_1['AST'].map(str)
# data_1['HF']= data_1['HF'].map(str)
# data_1['AF'] = data_1['AF'].map(str)
# data_1['HC'] = data_1['HC'].map(str)
# data_1['AC'] = data_1['AC'].map(str)
# data_1['HY'] = data_1['HY'].map(str)
# data_1['AY'] = data_1['AY'].map(str)
# data_1['HR'] = data_1['HR'].map(str)
# data_1['AR'] = data_1['AR'].map(str)

In [ ]:
# data_1.dtypes

In [ ]:
# data_1['FTHG'] = data_1['FTHG'].str[:-1]
# data_1['FTAG'] = data_1['FTAG'].str[:-1]
# data_1['HTHG'] = data_1['HTHG'].str[:-1]
# data_1['HTAG'] = data_1['HTAG'].str[:-1]
# data_1['HS'] = data_1['HS'].str[:-1]
# data_1['AS'] = data_1['AS'].str[:-1]
# data_1['HST'] = data_1['HST'].str[:-1]
# data_1['AST'] = data_1['AST'].str[:-1]
# data_1['HF'] = data_1['HF'].str[:-1]
# data_1['AF'] = data_1['AF'].str[:-1]
# data_1['HC'] = data_1['HC'].str[:-1]
# data_1['AC'] = data_1['AC'].str[:-1]
# data_1['HY'] = data_1['HY'].str[:-1]
# data_1['AY'] = data_1['AY'].str[:-1]
# data_1['HR'] = data_1['HR'].str[:-1]
# data_1['AR'] = data_1['AR'].str[:-1]

In [ ]:
data_1.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,11.08.2006,Bayern Munich,Dortmund,2,0,H,1,0,H,12,...,9,7,14,20,4,4,1,2,0,0
1,12.08.2006,Hamburg,Bielefeld,1,1,D,0,1,A,26,...,19,5,29,22,11,2,3,2,0,0
2,12.08.2006,Leverkusen,Aachen,3,0,H,2,0,H,20,...,11,5,22,8,5,1,3,0,1,1
3,12.08.2006,Mainz,Bochum,2,1,H,1,0,H,11,...,5,9,17,15,1,8,2,3,0,0
4,12.08.2006,M'gladbach,Cottbus,2,0,H,0,0,D,13,...,8,7,11,24,3,5,0,4,0,1