In [101]:
import pandas as pd
import numpy as np
import csv

In [166]:
data = pd.read_csv('cumulated_data_bl1_v2.csv', delimiter=';')
data.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,11.08.2006,Bayern Munich,Dortmund,20,0,H,10,0,H,120,...,90,70,140,200,40,40,10,20,0,0
1,12.08.2006,Hamburg,Bielefeld,10,10,D,0,10,A,260,...,190,50,290,220,110,20,30,20,0,0
2,12.08.2006,Leverkusen,Aachen,30,0,H,20,0,H,200,...,110,50,220,80,50,10,30,0,10,10
3,12.08.2006,Mainz,Bochum,20,10,H,10,0,H,110,...,50,90,170,150,10,80,20,30,0,0
4,12.08.2006,M'gladbach,Cottbus,20,0,H,0,0,D,130,...,80,70,110,240,30,50,0,40,0,10

In [169]:
# data_1 = data.sort_values(by=['Date'], ascending=True)
data_1 = data
data_1

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,11.08.2006,Bayern Munich,Dortmund,20,0,H,10,0,H,120,...,90,70,140,200,40,40,10,20,0,0
1,12.08.2006,Hamburg,Bielefeld,10,10,D,0,10,A,260,...,190,50,290,220,110,20,30,20,0,0
2,12.08.2006,Leverkusen,Aachen,30,0,H,20,0,H,200,...,110,50,220,80,50,10,30,0,10,10
3,12.08.2006,Mainz,Bochum,20,10,H,10,0,H,110,...,50,90,170,150,10,80,20,30,0,0
4,12.08.2006,M'gladbach,Cottbus,20,0,H,0,0,D,130,...,80,70,110,240,30,50,0,40,0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4891,14.05.2022,Mainz,Ein Frankfurt,20,20,D,10,20,A,130,...,40,40,70,110,50,30,20,0,0,0
4892,14.05.2022,M'gladbach,Hoffenheim,50,10,H,30,10,H,190,...,90,20,80,120,60,20,10,20,0,0
4893,14.05.2022,Stuttgart,FC Koln,20,10,H,10,0,H,240,...,120,30,150,100,80,100,10,40,0,0
4894,14.05.2022,Union Berlin,Bochum,30,20,H,20,0,H,170,...,110,30,120,70,10,30,30,20,0,0
4895,14.05.2022,Wolfsburg,Bayern Munich,20,20,D,10,20,A,100,...,20,100,50,100,20,120,10,20,0,0

In [170]:
teams = []
for x in data_1['HomeTeam']:
    if x not in teams:
        teams.append(x)

# teams

In [171]:
format = ['FTHG', 'FTAG', 'FTR', 'HTHG', 'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR']
for f in format:
    z = 0
    for x in data_1[f]:
        x = str(x)
        # print(len(x))
        if len(x) >= 2:
            # print(data_1[f][z])
            data_1[f][z] = x[:-1]
            # print(x)
        z+=1
data_1

C:\Users\I539022\AppData\Local\Temp/ipykernel_21292/3551351467.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_1[f][z] = x[:-1]

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,11.08.2006,Bayern Munich,Dortmund,2,0,H,1,0,H,12,...,9,7,14,20,4,4,1,2,0,0
1,12.08.2006,Hamburg,Bielefeld,1,1,D,0,10,A,26,...,19,5,29,22,11,2,3,2,0,0
2,12.08.2006,Leverkusen,Aachen,3,0,H,2,0,H,20,...,11,5,22,8,5,1,3,0,1,1
3,12.08.2006,Mainz,Bochum,2,1,H,1,0,H,11,...,5,9,17,15,1,8,2,3,0,0
4,12.08.2006,M'gladbach,Cottbus,2,0,H,0,0,D,13,...,8,7,11,24,3,5,0,4,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4891,14.05.2022,Mainz,Ein Frankfurt,2,2,D,1,20,A,13,...,4,4,7,11,5,3,2,0,0,0
4892,14.05.2022,M'gladbach,Hoffenheim,5,1,H,3,10,H,19,...,9,2,8,12,6,2,1,2,0,0
4893,14.05.2022,Stuttgart,FC Koln,2,1,H,1,0,H,24,...,12,3,15,10,8,10,1,4,0,0
4894,14.05.2022,Union Berlin,Bochum,3,2,H,2,0,H,17,...,11,3,12,7,1,3,3,2,0,0
4895,14.05.2022,Wolfsburg,Bayern Munich,2,2,D,1,20,A,10,...,2,10,5,10,2,12,1,2,0,0

In [172]:
data_1.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,11.08.2006,Bayern Munich,Dortmund,2,0,H,1,0,H,12,...,9,7,14,20,4,4,1,2,0,0
1,12.08.2006,Hamburg,Bielefeld,1,1,D,0,10,A,26,...,19,5,29,22,11,2,3,2,0,0
2,12.08.2006,Leverkusen,Aachen,3,0,H,2,0,H,20,...,11,5,22,8,5,1,3,0,1,1
3,12.08.2006,Mainz,Bochum,2,1,H,1,0,H,11,...,5,9,17,15,1,8,2,3,0,0
4,12.08.2006,M'gladbach,Cottbus,2,0,H,0,0,D,13,...,8,7,11,24,3,5,0,4,0,1

In [113]:
elo_api = {
    'Bayern Munich': 195421130371,
    'RB Leipzig': 180803869629,
    ' Dortmund': 179639416504,
    'Leverkusen': 179144921875,
    'Frankfurt': 173395397949,
    'Union Berlin': 172752734375,
    'Freiburg': 171513647461,
    'Gladbach': 170800561523,
    'Wolfsburg': 167846154785,
    'Mainz': 167658898926,
    'Koeln': 167578808594,
    'Hoffenheim': 166018737793,
    'Stuttgart': 161728076172,
    'Augsburg': 161279321289,
    'Bochum': 160994140625,
    'Hertha': 160994140625,
    'Bielefeld': 157295336914,
    'Fuerth': 15066628418
}

In [105]:
# data_1['FTHG']= data_1['FTHG'].map(str)
# data_1['FTAG'] = data_1['FTAG'].map(str)
# data_1['HTHG']= data_1['HTHG'].map(str)
# data_1['HTAG'] = data_1['HTAG'].map(str)
# data_1['HS'] = data_1['HS'].map(str)
# data_1['AS'] = data_1['AS'].map(str)
# data_1['HST'] = data_1['HST'].map(str)
# data_1['AST'] = data_1['AST'].map(str)
# data_1['HF']= data_1['HF'].map(str)
# data_1['AF'] = data_1['AF'].map(str)
# data_1['HC'] = data_1['HC'].map(str)
# data_1['AC'] = data_1['AC'].map(str)
# data_1['HY'] = data_1['HY'].map(str)
# data_1['AY'] = data_1['AY'].map(str)
# data_1['HR'] = data_1['HR'].map(str)
# data_1['AR'] = data_1['AR'].map(str)

In [106]:
# data_1.dtypes

In [94]:
# data_1['FTHG'] = data_1['FTHG'].str[:-1]
# data_1['FTAG'] = data_1['FTAG'].str[:-1]
# data_1['HTHG'] = data_1['HTHG'].str[:-1]
# data_1['HTAG'] = data_1['HTAG'].str[:-1]
# data_1['HS'] = data_1['HS'].str[:-1]
# data_1['AS'] = data_1['AS'].str[:-1]
# data_1['HST'] = data_1['HST'].str[:-1]
# data_1['AST'] = data_1['AST'].str[:-1]
# data_1['HF'] = data_1['HF'].str[:-1]
# data_1['AF'] = data_1['AF'].str[:-1]
# data_1['HC'] = data_1['HC'].str[:-1]
# data_1['AC'] = data_1['AC'].str[:-1]
# data_1['HY'] = data_1['HY'].str[:-1]
# data_1['AY'] = data_1['AY'].str[:-1]
# data_1['HR'] = data_1['HR'].str[:-1]
# data_1['AR'] = data_1['AR'].str[:-1]

In [107]:
data_1.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
459,01.02.2008,Hansa Rostock,Bayern Munich,10,20,A,0,20,A,90,...,30,60,220,230,50,80,30,20,0,0
772,01.02.2009,Bochum,Karlsruhe,20,0,H,10,0,H,110,...,60,30,250,270,20,80,20,30,0,0
773,01.02.2009,Werder Bremen,Bielefeld,10,20,A,10,10,D,210,...,50,20,150,150,140,10,20,20,0,0
2007,01.02.2013,Werder Bremen,Hannover,20,0,H,0,0,D,300,...,140,30,100,90,100,0,0,30,0,0
2305,01.02.2014,Augsburg,Werder Bremen,30,10,H,10,10,D,200,...,50,0,110,200,60,40,10,30,0,10